{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <!-- Add your content here -->

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="/sprint-6/recruiter/dashboard">
<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
Go back</a>
</div>

              <h1 class="nhsuk-heading-l" id="heading-container">
                  <span class="nhsuk-heading-l" id="create-new" value="create-new"> Do you want to create a new role listing?</span>
              </h1>
      
      
          <form class="form" action="/sprint-6/recruiter/create-or-reuse#Do you want to create a new role listing?" method="post">

            <div class="nhsuk-radios">


<!--RADIOS 1-->
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="answer1" name="answer" type="radio" value="yes~/sprint-6/recruiter/create-new-role-start">
                <label class="nhsuk-label nhsuk-radios__label" for="yes">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="answer2" name="answer" type="radio" value="nhs-library~/sprint-6/recruiter/select-nhs-template">
                <label class="nhsuk-label nhsuk-radios__label" for="nhs-library">
                  I want to select from a library of NHS role templates
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="answer3" name="answer" type="radio" value="reuse~/sprint-6/recruiter/select-existing-listing">
                <label class="nhsuk-label nhsuk-radios__label" for="reuse">
                  No, I want to reuse my previous role listing
                </label>
              </div>

              <br>
            <!--buttons-->        
    <button class="nhsuk-button" type="submit"> 
    Continue
    </button>
  </form>
  <br>

  </div>
{% endblock %}
