{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <!-- Add your content here -->

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        


          
              <h1 class="nhsuk-heading-l" id="heading-container">
                  <span class="nhsuk-caption-l nhsuk-caption--bottom">Create a new role listing</span>
                  <span class="nhsuk-heading-l" id="heading">Check and save the application form details</span>
              </h1>
      
            <form class="form" action="/sprint-6/recruiter/tasklist-7" method="post">
              <input type="hidden" name="_csrf" value="">
      
              
        
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Standard application form questions and fields
              </dt>
              <dd class="nhsuk-summary-list__value" id="job_title">
                <p><strong>What is your name?</strong>
                <br>
                Collect: First name (mandatory), Middle name (optional), Last name (mandatory)</p>

                <p><strong>What is your date of birth?</strong>
                  <br>
                  Collect: Day, Month, Year (mandatory)</p>

                  <p><strong>What is your address?</strong>
                    <br>
                    Collect: Building and street (mandatory), Town or city (optional), County (optional), Postcode (mandatory)</p>

                    <p><strong>How do you want to be contacted about this role?</strong>
                      <br>
                      Collect: Contact preference (mandatory), Telephone number (optional) Email address (manditory)</p>

                      <p><strong>What is your availability?</strong>
                        <br>
                        Radios: I could be available at any of the indicated times and dates <br> I wish to discuss my availability with the volunteering service team</p>

                        <p><strong>What are your previous experiences, skills and interests in relation to this role?</strong>
                          <br>
                          Include: TextArea field</p>
              </dd>
              
                <dd class="nhsuk-summary-list__actions">
                  <a data-test="change-link" aria-label="Change link for job title" id="change_job_title" href="/sprint-6/recruiter/CYA-app-builder#Standard application form questions and fields">Change</a>
                </dd>
              
            </div>
      
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Employment history</dt>
              <dd class="nhsuk-summary-list__value" id="reference_number">
                ???
              </dd>
              
                <dd class="nhsuk-summary-list__actions">
                  <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                </dd>
              
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Qualifications and training</dt>
              <dd class="nhsuk-summary-list__value" id="reference_number">
                Answer...
              </dd>
              
                <dd class="nhsuk-summary-list__actions">
                  <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                </dd>

              </div>

              
              <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Criminal record checks</dt>
                  <dd class="nhsuk-summary-list__value" id="reference_number">
                    Answer...
                  </dd>
                  
                    <dd class="nhsuk-summary-list__actions">
                      <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                    </dd>  

                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Question?</dt>
                      <dd class="nhsuk-summary-list__value" id="reference_number">
                        Answer...
                      </dd>
                      
                        <dd class="nhsuk-summary-list__actions">
                          <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                        </dd>  
    
                        </div>


                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">Question?</dt>
                          <dd class="nhsuk-summary-list__value" id="reference_number">
                            Answer...
                          </dd>
                          
                            <dd class="nhsuk-summary-list__actions">
                              <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                            </dd>  
        
                            </div>



                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Question?</dt>
                              <dd class="nhsuk-summary-list__value" id="reference_number">
                                Answer...
                              </dd>
                              
                                <dd class="nhsuk-summary-list__actions">
                                  <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                                </dd>  
            
                                </div>
                              </div>
                
              
            </div>
          </dl>
        
      
      
              
                <div class="nhsuk-form-group">
                  <input class="nhsuk-button" name="save_continue" type="submit" id="save_continue" value="Save and continue">
                </div>
              
            </form>
          </div>
          </div>
          </div>
          </div>
{% endblock %}
