{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">
  

      <!-- Add your content here -->

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/sprint-6/recruiter/role-promotion">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
    
          <div class="check-answers nhsuk-grid-column-two-thirds">
            <h1 class="nhsuk-heading-l word-wrap" id="heading-container">
              <span class="nhsuk-caption-l">Create a new role listing</span>
              <span id="heading">Check and save the role promotion details</span>
            </h1>
      
            <form class="form" action="/sprint-6/recruiter/tasklist-6" method="post">
              <input type="hidden" name="_csrf" value="uH3sTtpz-lva5Bhk42MOXVWn0byrjyg5M6d0">
      
              
        
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Promote this role
              </dt>
              <dd class="nhsuk-summary-list__value" id="job_title">
                Create a link to share role listing on social media or via email
                <br>
                <br>
                Promote opportunity on this provider's website
              </dd>
              
                <dd class="nhsuk-summary-list__actions">
                  <a data-test="change-link" aria-label="Change link for job title" id="change_job_title" href="/sprint-6/recruiter/role-promotion">Change</a>
                </dd>
              
            </div>
      
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Do you want to receive applications through this service?</dt>
              <dd class="nhsuk-summary-list__value" id="reference_number">
                Yes, create an application form
              </dd>
              
                <dd class="nhsuk-summary-list__actions">
                  <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/role-promotion">Change</a>
                </dd>
              
            </div>
          </dl>
        
      
      
              
                <div class="nhsuk-form-group">
                  <input class="nhsuk-button" name="save_continue" type="submit" id="save_continue" value="Save and continue">
                </div>
              
            </form>
          </div>
          </div>
          </div>
          </div>
{% endblock %}
