{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="check-answers nhsuk-grid-column-full">
          <h1 class="nhsuk-heading-l word-wrap" id="heading-container">
            <span class="nhsuk-caption-l">Create a new role listing</span>
            <span id="heading">Check and save the role overview</span>
          </h1>
    
          <form class="form" action="/sprint-6/recruiter/tasklist-3" method="post">
            <input type="hidden" name="_csrf" value="fwfwSRep--nGBDHtoxSSPv-h86qjzIER5koM">
    
            
      
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Role overview
            </dt>
            <dd class="nhsuk-summary-list__value" id="job_advert" style="word-wrap: break-word;">
              <strong>Role summary</strong>
              <p>This is a rewarding volunteering opportunity within our mental health services for people with memory problems or dementia and their carers. You will support our therapy team with the running of this activity with the aim of maintaining and improving their well-being.</p>

                <p>This role will suits someone friendly, approachable and enthusiastic. Whether you want to gain experience, improve your career prospects or just want to give some of your time to help others, this role could be for you!</p>
              <br>
    
              <strong>Main duties of the role</strong>
              <ul>
              <li>To encourage and support service users to participate in this therapeutic and social activity</li>
              <li>To meet and greet service users as they arrive</li>
              <li>To encourage people to participate and help them to feel good about themselves</li>
              <li>To direct walkers along the designated route</li>
            </ul> 
            <br>
    
              <strong>Overview of your organisation</strong>
              <p>At XX, we have a team of brilliant, active and highly valued team of volunteers who give their time to make a difference for patients and medical staff every week.</p>

              <p>Our volunteers have non-clinical roles that make a positive impact and improve the experience of patients using the hospital.</p>

            <p>We have a dedicated team of staff who supports our volunteers from the start and provides comprehensive induction and on-going training opportunities. We can ensure you feel welcome and part of the team.</p>

          <p>We welcome applications from all sections of the community and are keen to diversify our volunteer workforce.</p>
            </dd>
            
              <dd class="nhsuk-summary-list__actions">
                <a data-test="change-link" aria-label="Change link for Job overview" id="change_job_advert" href="/sprint-6/recruiter/empty-role-fields">Change</a>
              </dd>
            
          </div>
        </dl>
      
    
    
            
              <div class="nhsuk-form-group">
                <input class="nhsuk-button" name="save_continue" type="submit" id="save_continue" value="Save and continue">
              </div>
            
          </form>
        </div>
      </div>
{% endblock %}
