{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <!-- Add your content here -->

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        


          
              <h1 class="nhsuk-heading-l" id="heading-container">
                  <span class="nhsuk-caption-l nhsuk-caption--bottom">Create a new role listing</span>
                  <span class="nhsuk-heading-l" id="heading">Check and save the application form details</span>
              </h1>
      
            <form class="form" action="/sprint-6/recruiter/tasklist-7" method="post">
              <input type="hidden" name="_csrf" value="">
      
              
        
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                ???
              </dt>
              <dd class="nhsuk-summary-list__value" id="job_title">
                ???
              </dd>
              
                <dd class="nhsuk-summary-list__actions">
                  <a data-test="change-link" aria-label="Change link for job title" id="change_job_title" href="/sprint-6/recruiter/?">Change</a>
                </dd>
              
            </div>
      
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">???</dt>
              <dd class="nhsuk-summary-list__value" id="reference_number">
                ???
              </dd>
              
                <dd class="nhsuk-summary-list__actions">
                  <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                </dd>
              
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Question?</dt>
              <dd class="nhsuk-summary-list__value" id="reference_number">
                Answer...
              </dd>
              
                <dd class="nhsuk-summary-list__actions">
                  <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                </dd>

              </div>

              
              <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Question?</dt>
                  <dd class="nhsuk-summary-list__value" id="reference_number">
                    Answer...
                  </dd>
                  
                    <dd class="nhsuk-summary-list__actions">
                      <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                    </dd>  

                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Question?</dt>
                      <dd class="nhsuk-summary-list__value" id="reference_number">
                        Answer...
                      </dd>
                      
                        <dd class="nhsuk-summary-list__actions">
                          <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                        </dd>  
    
                        </div>


                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">Question?</dt>
                          <dd class="nhsuk-summary-list__value" id="reference_number">
                            Answer...
                          </dd>
                          
                            <dd class="nhsuk-summary-list__actions">
                              <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                            </dd>  
        
                            </div>



                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Question?</dt>
                              <dd class="nhsuk-summary-list__value" id="reference_number">
                                Answer...
                              </dd>
                              
                                <dd class="nhsuk-summary-list__actions">
                                  <a data-test="change-link" aria-label="Change link for reference number" id="change_reference_number" href="/sprint-6/recruiter/?">Change</a>
                                </dd>  
            
                                </div>
                              </div>
                
              
            </div>
          </dl>
        
      
      
              
                <div class="nhsuk-form-group">
                  <input class="nhsuk-button" name="save_continue" type="submit" id="save_continue" value="Save and continue">
                </div>
              
            </form>
          </div>
          </div>
          </div>
          </div>
{% endblock %}
