{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/sprint-6/recruiter/tasklist-3">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            
                <h1 class="nhsuk-heading-l" id="heading-container">
                    <span class="nhsuk-caption-l nhsuk-caption--bottom">Create a new role listing</span>
                    <span class="nhsuk-heading-l" id="heading">Do you want to set a fixed time availability for this role?</span>
                </h1>
            

          
        <p class="nhsuk-heading-s">
            Walk and Talk volunteer
            <span class="status-box status-box-blue" aria-label="status for Walk and Talk volunteer is DRAFT" id="status_DRAFT" role="status">
                DRAFT
            </span>
        </p>
    
    
        
            <p id="reference_number" role="note" aria-label="Reference number: T5555-22-9757">Reference no: T5555-22-9757</p>
        
    

                
            

            <form class="form" action="/sprint-6/recruiter/define-availability-2" method="post">
                <input type="hidden" name="_csrf">
                

    

    
        <div class="nhsuk-form-group ">
    
        <fieldset class="nhsuk-fieldset app-fieldset--custom-modifier ">
            <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden" id="">
                Would you like to change the reference number?
            </legend>
            
            
            
            <div class="nhsuk-radios nhsuk-radios--inline" id="decision">
                
                    
                        
                            

                            

                            
                                
                            
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="decision_option_1" type="radio" name="decision" value="YES">
                                <label id="YES_label" class="nhsuk-radios__label" for="decision_option_1">
                                    Yes
                                </label>
                                
                            </div>
                        
                    
                        
                            

                            

                            
                                
                            
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="decision_option_2" type="radio" name="decision" value="NO">
                                <label id="NO_label" class="nhsuk-radios__label" for="decision_option_2">
                                    No, I want applicants to express their availability
                                </label>
                                
                            </div>
                        
                    
                
            </div>
        </fieldset>
    
        </div>
    

             
                <input class="nhsuk-button" type="submit" name="continue" id="continue" value="Continue">

            </form>
        </div>
    </div>
{% endblock %}
