{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/sprint-6/recruiter/tasklist-4">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            

            <h1 class="nhsuk-heading-l" id="heading-container">
                <span class="nhsuk-caption-l nhsuk-caption--bottom">Create a new role listing</span>
                <span class="nhsuk-heading-l" id="heading">How would you like to control the visibility of this role? </span>
            </h1>

            
                
    
        <p class="nhsuk-heading-s">
            Walk and talk volunteer
            <span class="status-box status-box-blue" aria-label="status for CVFlowOffline is DRAFT" id="status_DRAFT" role="status">
                DRAFT
            </span>
        </p>
    
    
        
            <p id="reference_number" role="note" aria-label="Reference number: T5555-22-9759">Reference no: T5555-22-9759</p>
        
    

            

            <form class="form" action="/sprint-6/recruiter/CYA-visibility" method="post">
                <input type="hidden" name="_csrf" value="o6PDhM5G-gTGGCjeEIODMub4gylRVajeH000">
                <div class="nhsuk-form-group " id="">
                    <fieldset class="nhsuk-fieldset app-fieldset--custom-modifier" id="">
                    <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">
                        How would you like to control the visibility of this role? 
                    </legend>

                    <h4>Role visibility options</h4>
                    <div class="nhsuk-form-group"></div>
                        <div class="nhsuk-radios">
                            
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="advertiseType-1" type="radio" name="advertiseType" value="INTERNALLY">
                                <label class="nhsuk-label nhsuk-radios__label" for="advertiseType-1">
                                    Publish once complete
                                </label>
                                
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="advertiseType-2" type="radio" name="advertiseType" value="EXTERNALLY">
                                <label class="nhsuk-label nhsuk-radios__label" for="advertiseType-2">
                                    Set a closing date
                                </label>
                                
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
                                <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                                    Set a applicant limit
                                </label>
                              </div>
                        
                              

                                <div class="nhsuk-radios__item">
                                  <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
                                  <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                                    Set a closing date and applicant limit
                                  </label>
                                </div>
                          </div>
                             

                                
                            </div>
                        </div>
                    </fieldset>
                </div>
                

              <input class="nhsuk-button" type="submit" id="save_continue" value="Save and continue">
                    <p><a id="save_come_back" href="/sprint-5/recruiter/dashboard-2">Save and come back later</a></p>
                
            </form>
          
            </div>
{% endblock %}
