{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/sprint-6/recruiter/role-location-1">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            
                <h1 class="nhsuk-heading-l" id="heading-container">
                    <span class="nhsuk-caption-l nhsuk-caption--bottom">Create a new role listing</span>
                    <span class="nhsuk-heading-l" id="heading">Find the location address for this role</span>
                </h1>
            

          
        <p class="nhsuk-heading-s">
            Walk and Talk volunteer
            <span class="status-box status-box-blue" aria-label="status for Walk and Talk volunteer is DRAFT" id="status_DRAFT" role="status">
                DRAFT
            </span>
        </p>
    
    
        
            <p id="reference_number" role="note" aria-label="Reference number: T5555-22-9757">Reference no: T5555-22-9757</p>
        

            <form class="form" action="/sprint-6/recruiter/CYA-role-details" method="post">
                <input type="hidden" name="_csrf">
                

    
        <div class="nhsuk-form-group ">
    
        
            
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="select-1">
                  Stored addresses
                </label>
                <select class="nhsuk-select" id="select-1" name="select-1">
                  <option value="1"selected>- Select a location - </option>
                  <option value="2">Birch Hill Hospital Mental Health Services - Union Road, Rochdale, Lancashire, OL12 9QB</option>
                  <option value="3">Child & Family Service - Fairfield General Hospital, Rochdale, BL9 7TD</option>
                  <option value="4">Fairfield General Hospital Mental Health Services - Rochdale Old Road, Bury, Lancashire, BL9 7TD</option>
                  <option value="5">Healthy Minds Stockport - Poplar Grove, Stepping Hill Hospital Mental Health Services, Stockport, Cheshire, SK2 7JE</option>
                  <option value="6">Royal Oldham Hospital Mental Health Services - Westhulme Avenue, Oldham, Lancashire, OL1 2PN</option>
                  <option value="7">Tameside Hospital Mental Health Services - Fountain Street, Ashton-under-Lyne, Lancashire, OL6 9RW</option>
                </select>
              </div>

              <br>

              <hr>

              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Addresses added
                  </dt>
                  
                    <p>Birch Hill Hospital Mental Health Services - Union Road, Rochdale, Lancashire, OL12 9QB</p>
                    <br>
          
                    
                  
                    <dd class="nhsuk-summary-list__actions">
                      <a data-test="change-link" aria-label="delete" id="delete-address" href="/sprint-6/recruiter/role-location-2">Delete</a>
                    </dd>
                  
                </div>
              </dl>

              <!--Add another-->
              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <h1 class="nhsuk-fieldset__heading">
                        Do you want to add another location for this role?
                    </h1>
                  </legend>
              
                  <div class="nhsuk-radios nhsuk-radios--inline">
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes~/sprint-6/recruiter/role-location-3#Do you want to add another location for this role?">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                        Yes
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="no~/sprint-6/recruiter/CYA-role-details">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                        No
                      </label>
                    </div>
              
                  </div>
                </fieldset>
              
              </div>
            
                        
                    
                
            </div>
        </fieldset>
    
        </div>
        </div>
    

             
                <input class="nhsuk-button" type="submit" name="continue" id="continue" value="Save and continue">
                <p><a id="save_come_back" href="/sprint-6/recruiter/dashboard" class="nhsuk-link--no-visited-state">Save and come back later</a></p>
            </form>
        </div>
    </div>
{% endblock %}
