{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
     
    
          <h2>
            Walk and talk Volunteer listing
          </h2>
    

          
            <strong class="nhsuk-tag ">DRAFT</strong>

            <p>Reference no: T5555-22-2650</p>

            <h3>Role listing incomplete</h3>

            <p>You have completed 8 of 12 sections.</p>
            </div>
            
            <div class="nhs-grid-row">
            <div class="nhsuk-grid-column-two-thirds"> 
            <h2 class="nhsuk-heading-m">Add the role title</h2>
                
          
                <!-- Role task -->
                <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9">
                  <div class="nhsuk-summary-list__row" id="JOB_TITLE_row">
                    <dd class="nhsuk-summary-list__value">
                      <a href="/sprint-6/recruiter/CYA-title-ref-no" class="nhsuk-link--no-visited-state">Role title and reference number</a>
                    </dd>
                    
                      <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                        
                <strong class="nhsuk-tag ">COMPLETED</strong>
              
                      </dd>
                    
                  </div>
                </dl>
              
          
              <!-- ROLE_DETAILS SECTION -->
              
                <h2 id="JOB_DETAILS_section" class="nhsuk-heading-m">Add the details of the role</h2>
              
          
              <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9">
                
                  
          
          
                <!-- LOCATION, CONTACT_DETAILS task -->
                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/CYA-role-details" class="nhsuk-link--no-visited-state">Role location</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                        
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/tasklist-4#Add the details of the role" class="nhsuk-link--no-visited-state">Primary point of contact for this role</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                        
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/tasklist-4#Add the details of the role" class="nhsuk-link--no-visited-state">Details of the role manager</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                        
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/tasklist-4#Add the details of the role" class="nhsuk-link--no-visited-state">Supporting information</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                        
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>


                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/tasklist-4#Add the details of the role" class="nhsuk-link--no-visited-state">Role approval</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                        
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

              </dl>

              
          
              <!-- Role details SECTION -->
              
                <h2 id="JOB_ADVERT_DETAILS_section" class="nhsuk-heading-m">Add the role overview, role description and person specification</h2>
              
          
              <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9">
                <!-- Role advert task -->
                <div class="nhsuk-summary-list__row" id="JOB_ADVERT_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/CYA-role-overview" class="nhsuk-link--no-visited-state">Role overview</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                        
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>
          
                <!-- Availability -->
                <div class="nhsuk-summary-list__row" id="JOB_DESCRIPTION_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/CYA-availability" class="nhsuk-link--no-visited-state">Availability</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                        
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

                <!-- Time commitments task -->
                <div class="nhsuk-summary-list__row" id="JOB_DESCRIPTION_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/time-commitment-B" class="nhsuk-link--no-visited-state">Time commitments</a>
                  </dd>
                  
                  <dd id="RECRUITMENT_TEAM_status" class="nhsuk-summary-list__actions">
                        
                    <strong class="nhsuk-tag nhsuk-tag--white">NOT STARTED</strong>
                  
                          </dd>
                  
                </div>

      
          
                
              </dl>

              <!-- APPLICATION DETAILS -->
              
              <h2 id="RECRUITMENT_TEAM_section" class="nhsuk-heading-m">Receive applications and third-party integration</h2>
                
          
              <!-- RECRUITMENT_TEAM task -->
              <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9">
                <div class="nhsuk-summary-list__row" id="RECRUITMENT_TEAM_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-6/recruiter/tasklist-4" class="nhsuk-link--no-visited-state">Application form options</a>
                  </dd>
                  
                    <dd id="RECRUITMENT_TEAM_status" class="nhsuk-summary-list__actions">
                      
                      <dd id="RECRUITMENT_TEAM_status" class="nhsuk-summary-list__actions">
                        
                        <strong class="nhsuk-tag nhsuk-tag--white">NOT STARTED</strong>
                      
                              </dd>
                      
                    </div>


                
              </dl>

              
              
          
              <!-- PUSH -->
              
                  <h2 id="RECRUITMENT_TEAM_section" class="nhsuk-heading-m">Push settings</h2>
                
          
                <!-- RECRUITMENT_TEAM task -->
                <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9">
                  <div class="nhsuk-summary-list__row" id="RECRUITMENT_TEAM_row">
                    <dd class="nhsuk-summary-list__value">
                      <a href="/sprint-6/recruiter/tasklist-4" class="nhsuk-link--no-visited-state">Control the visibility of your role</a>
                    </dd>
                    
                      <dd id="RECRUITMENT_TEAM_status" class="nhsuk-summary-list__actions">
                        
                        <dd id="RECRUITMENT_TEAM_status" class="nhsuk-summary-list__actions">
                        
                          <strong class="nhsuk-tag nhsuk-tag--white">NOT STARTED</strong>
                        
                                </dd>
                        
                      </div>


                  <div class="nhsuk-summary-list__row" id="RECRUITMENT_TEAM_row">
                    <dd class="nhsuk-summary-list__value">
                      <a href="/sprint-6/recruiter/tasklist-4" class="nhsuk-link--no-visited-state">Role promotion</a>
                    </dd>
                    
                      <dd id="RECRUITMENT_TEAM_status" class="nhsuk-summary-list__actions">
                        
                        <dd id="RECRUITMENT_TEAM_status" class="nhsuk-summary-list__actions">
                        
                          <strong class="nhsuk-tag nhsuk-tag--white">NOT STARTED</strong>
                        
                                </dd>
                        
                      </div>
                </dl>


                


                <p><strong>You need to complete all section before you can publish the role listing</strong> </p>
              
          
                
                  <p><a id="save_come_back" href="/sprint-6/recruiter/dashboard">Save and come back later</a></p>
                </form>
              </div>
            </div>
          </div>
            
        </main>
  </div>
{% endblock %}
