{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-5/form-page-4">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>   

      <h2>
        Reuse your details to apply
      </h2>


      <div class="nhsuk-hint" id="contact-hint">
        Question 5 of 6
      </div>

          <form>

            <div class="nhsuk-form-group">
          
              <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h1 class="nhsuk-fieldset__heading">
                    What is your availability?
                  </h1>
                </legend>
                
                <form class="form" action="/sprint-5/form-page-6" method="post">
          
                <div class="nhsuk-hint" id="contact-hint">
                  Select all options that are relevant to you.
                </div>
          
                <!--Mondays-->
                <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
          
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-1" name="contact" type="checkbox" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                      Mondays
                    </label>
                  </div>
          
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="email">
                        Specify your availability for Mondays
                      </label>
                      <div class="nhsuk-hint" id="example-hint">
                        For example, 7am - 2pm
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                    </div>
          
                  </div>
          
                  <!--Tuesdays-->
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                      Tuesdays
                    </label>
                  </div>
          
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-2">
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="phone">
                        Specify your availability for Tuesdays
                      </label>
                      <div class="nhsuk-hint" id="example-hint">
                        For example, 7am - 2pm
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="phone" name="phone" type="text">
                    </div>
          
                  </div>
                  
          
                  <!--Wednesdays-->
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                      Wednesdays
                    </label>
                  </div>
            
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-3">
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="mobile">
                        Specify your availability for Wednesdays
                      </label>
                      <div class="nhsuk-hint" id="example-hint">
                        For example, 7am - 2pm
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
                    </div>
          
                  </div>

                  <!--Thursdays-->
                <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
          
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="email" aria-controls="conditional-contact-4" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-4">
                      Thursdays
                    </label>
                  </div>
          
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-4">
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="email">
                        Specify your availability for Thursdays
                      </label>
                      <div class="nhsuk-hint" id="example-hint">
                        For example, 7am - 2pm
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                    </div>
          
                  </div>
          
                  <!--Fridays-->
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-5" name="contact" type="checkbox" value="phone" aria-controls="conditional-contact-5" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-5">
                      Fridays
                    </label>
                  </div>
          
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-5">
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="phone">
                        Specify your availability for Fridays
                      </label>
                      <div class="nhsuk-hint" id="example-hint">
                        For example, 7am - 2pm
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="phone" name="phone" type="text">
                    </div>
          
                  </div>
                  
          
                  <!--Saturdays-->
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-6" name="contact" type="checkbox" value="text" aria-controls="conditional-contact-6" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-6">
                      Saturdays
                    </label>
                  </div>
          
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-6">
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="mobile">
                        Specify your availability for Saturdays
                      </label>
                      <div class="nhsuk-hint" id="example-hint">
                        For example, 7am - 2pm
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
                    </div>
          
                  </div>

                  <!--Sundays-->
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-7" name="contact" type="checkbox" value="text" aria-controls="conditional-contact-7" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-7">
                      Sundays
                    </label>
                  </div>
          
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-7">
          
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="mobile">
                        Specify your availability for Sundays
                      </label>
                      <div class="nhsuk-hint" id="example-hint">
                        For example, 7am - 2pm
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
                    </div>
          
                  </div>
              </fieldset>
          
            </div>
          
          
          
     
      
  
  

          <button class="nhsuk-button" type="submit">
            Save and continue
          </button>
        </form>




    

  </div>
{% endblock %}
