{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-5/account-page">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>   

      <h2>
        Reuse your details to apply
      </h2>


      <div class="nhsuk-hint" id="contact-hint">
        Question 1 of X
      </div>

      <h3>What is your name?</h3>
      
      <form class="form" action="/sprint-5/empty-form-page-2" method="post">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-20">
          First name
        </label>
        <input class="nhsuk-input nhsuk-input--width-30" id="example" name="test-width-20" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-20">
          Middle names (optional)
        </label>
        <input class="nhsuk-input nhsuk-input--width-30" id="example" name="test-width-20" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-20">
          Surname
        </label>
        <input class="nhsuk-input nhsuk-input--width-30" id="example" name="test-width-20" type="text">
      </div>
      
  
  </div>
  </div>

  <button class="nhsuk-button" type="submit">
    Save and continue
  </button>
</form>


    

  </div>
{% endblock %}
