{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-5/form-page-5b-add-another">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>   

      <h2>
        What are your previous experiences, skills and interests in relation to this role?
      </h2>


      <div class="nhsuk-hint" id="contact-hint">
        Question 6 of 6
      </div>

      <form class="form" action="/sprint-5/check-your-answers" method="post">

                <div class="nhsuk-hint" id="example-hint">
                  Do not include personal or financial information, for example, your National Insurance number or credit card details.
                </div>
                <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint" value="I have volunteered as a patient companion at Newham University Hospital for the past 5 years. I have recently moved home and I would like to continue volunteering in my new area.

                I consider myself a compassionate person and I enjoy spending time with people who need some warmth in their lives. In my previous role, I very much enjoyed meeting new people and helping brighten up their days.
                
                I also love the outdoors. My family and I usually go for long Sunday walks exploring our local woodland.
                
                I would like to use my skills and friendly disposition to support medical staff and patients at your hospital. I have experience of dealing with people suffering from dementia in my family. I am familiar with how debilitating this condition can be.
                
                The role of the walk and talk volunteer would be perfect for me because I can combine my love for outdoor activities with a cause so close to my heart."></textarea>
                
                <div class="nhsuk-hint" id="example-hint">
                  1500 characters remaining
                </div>
             
                
    
  <!--buttons-->        
  <button class="nhsuk-button" type="submit"> 
  Save and continue
  </button>
</form>
  
<a href="/sprint-5/saved-roles" class="nhsuk-link--no-visited-state">Save for later</a>  




    

  </div>
{% endblock %}
