{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-5/nhsuk-homepage-4">Home</a></li>      
    </ol>
  </div>
</nav>

{% endblock %}

{% block content %}
<!-- Case study videos -->
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-u-reading-width">
          <h2>Patient-facing support roles</h2>
        </div>
        <p>Help improve patient experience by providing a warm welcome, emotional support and companionship to patients and their families.</p>
        <ul>
          <li>???</li>
          <li>???</li>
          <li>???</li>
        </ul>
        
        <!--CTA button-->
          <div><a href="/sprint-5/results-page-patient-facing" class="nhsuk-button">
          Find a patient-facing role for me
          </a>

        </div>
      </div>


      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-card  nhsuk-card--clickable  ">
          <img class="nhsuk-card__img" src="/images/nhsuk/homepage/020720_PHE_Barrington_5426_TRL3_CL.2e16d0ba.fill-720x405.jpg" alt="">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading"><a class="nhsuk-card__link" href="">
              Patient-facing support - video case study</a></h3>
            <p class="nhsuk-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>  
    </div>

   


  </div>
{% endblock %}
