{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-5/nhsuk-homepage-4">Home</a></li>      
    </ol>
  </div>
</nav>

{% endblock %}

{% block content %}
<!-- Case study videos -->
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-u-reading-width">
          <h2>Patient-facing support</h2>
        </div>
        <p>There are plenty of ways you can make patients lives a little more comfortable. You’ll read together, chat, play games, take a walk or help them keep in contact with their families. If you are someone who enjoys direct contact with people, these roles are for you.</p>
        <p>Some of the roles might include:</p>
        <ul>
          <li>Patient companion or visitor</li>
          <li>Mealtime support volunteer</li>
          <li>Pets as therapy support volunteer</li>
          <li>Refreshment trolley volunteer</li>
        </ul>
        
        <!--CTA button-->
          <div><a href="/sprint-5/results-page-patient-facing" class="nhsuk-button">
          Find a patient-facing role for me
          </a>

        </div>
      </div>


      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-card  nhsuk-card--clickable  ">
          <img class="nhsuk-card__img" src="/images/nhsuk/livewell/image1-with-play-overlay.jpg" alt="">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading"><a class="nhsuk-card__link" href="">
              José Doe - patient and therapy support - video</a></h3>
            <p>
              <small><strong>Read transcript</small></strong> &nbsp; <small><strong>Audio visual description</small></strong> &nbsp; <small><strong>Subtitles</small></strong>
            </p>  
            <p class="nhsuk-card__description">Watch Jane describe a typical day as a walk and talk volunteer at Birch Hill Hospital.
            </p>
            <hr>
            <h5>
              Jane Doe
            </h5>
            <ul>
              <li>Part time volunteer since 2016</li>
              <li>Enjoys chatting to patients while taking them out for a walk</li>
              <li>“Volunteering has give me a new lease of life”</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>  
    </div>

{% endblock %}
