{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-5/nhsuk-homepage-4">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-5/results-page-postcode">Search results</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}
<main class="nhsuk-main-wrapper " id="maincontent" role="main">
            

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2 word-wrap" id="heading">Walk and talk Volunteer</h1>
      <h2 id="employer_name" class="nhsuk-heading-m">Pennine Care NHS Trust</h2>

      
        <h2 id="closing_date" class="nhsuk-heading-m">The closing date is 25 October 2022</h2>
      
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-padding-top-2">
      
  <div class="nhsuk-action-link">
    
    <a class="nhsuk-button" style="width: 100%" href="/sprint-5/account-page">
      Apply for this role
    </a>

    <a class="nhsuk-button nhsuk-button--secondary" style="width: 100%" href="/sprint-5/saved-roles">
      Save for later
    </a>
    
  </div>

    </div>

    <div class="nhsuk-grid-column-two-thirds">
      
  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Role summary</h3>

  <p> This is a rewarding volunteering opportunity within our mental health services for people with memory problems or dementia and their carers. You will support our therapy team with the running  to maintain and improve their well-being.</p> 

      <p>This role will suits someone friendly, approachable and enthusiastic. Whether you want to gain experience, improve your career prospects or just want to give some of your time to help others, that could be for you!</p>



  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2 ">Main duties of the role</h3>

  <ul>
    <li>To encourage and support service users to participate in this therapeutic and social activity</li>
    <li>To meet and greet service users as they arrive</li>
    <li>To encourage people to participate and help them to feel good about themselves</li>
    <li>To direct walkers along the designated route</li>
  </ul>



  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">About us</h3>

  <p> At XX, we have a team of brilliant, active and highly valued team of volunteers who give their time to make a difference for patients and medical staff every week.</p> 

      <p>Our volunteers have non-clinical roles that make a positive impact and improve the experience of patients using the hospital.</p>

      <p>We have a dedicated team of staff who supports our volunteers from the start and provides comprehensive induction and on-going training opportunities. We can ensure you feel welcome and part of the team.</p>

      <p>We welcome applications from all sections of the community and are keen to diversify our volunteer workforce.</p>

<h2>Person specification</h2> 
     <h5>Qualifications and training</h5>
     <p>
      No qualifications or previous training are required. </p>

      <p>You will undertake a training induction as well as on-going training which is essential to the role.</p>

     
      <h2>Experience, knowledge and skills</h2> 
      <ul>
        <li>Good verbal communication skills</li>
        <li>Reliability and good time keeping</li>
        <li>Ability to effectively engage with those using the service</li>
        <li>An enjoyment of the outdoors</li>
        <li>No previous experience required</li>
      </ul>
     
     <h5>Criminal record check</h5>

     <p>This post is subject to the Rehabilitation of Offenders Act (Exceptions Order) 1975 and as such it will be necessary for a submission for Disclosure to be made to the Disclosure and Barring Service (formerly known as CRB) to check for any previous criminal convictions.This post is subject to the Rehabilitation of Offenders Act (Exceptions Order) 1975 and as such it will be necessary for a submission for Disclosure to be made to the Disclosure and Barring Service (formerly known as CRB) to check for any previous criminal convictions. </p>
     
     
     <h5>Application process </h5>
     <p>Applying to become a volunteer may seem a little daunting. We are here to guide and support you through the process.</p>
     <p>The guidance below outlines the main steps involved in applying for a volunteering opportunity within the NHS. These steps might change depending on the role you’re applying for, and across different NHS services. Due to the robust process, recruitment can sometimes take a few weeks. </p>
      <p>At different stages of the process, you will need to:</p>
      
      <ul>
      <li>provide proof of your identity and address</li>
      <li>go through some checks. These could include a standard or enhanced Disclosure and Barring Service (DBS) checks and occupational health checks.</li>
      <li>provide details of two professional/formal referees</li>
      <li>go through some training for your role, including some mandatory NHS training on:
        <ul class="square">
          <li>equality, diversity and human rights</li>
          <li>equality, diversity and human rights</li>
          <li>health, safety and welfare</li>
          <li>infection prevention and control</li>
          <li>information governance</li>
          <li>manual handling</li>
          <li>safeguarding</li>
     </ul>
    </ul>

    <p>Some of the training may be in person and some may be online. Once you start, you will need to set aside some time for your training. This might need to be alongside your volunteering activities.</p>
  
      



     <h5>Employer details</h5>
     <p><strong>Provider</strong><br>
     Pennine Care NHS Trust<br>
      <a href="https://www.nhsbsa.nhs.uk">https://www.nhsbsa.nhs.uk/ (Opens in a new tab)</a>
      </p>

      <p><strong>Location of role</strong><br>
      <p>CMHT Older People<br>
      Stockport<br>
      SK2 5EQ</p>

  
     
     
    </div>
  </div>
{% endblock %}