{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/sprint-8/recruiter/role-location">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            

            
  <h1 class="nhsuk-heading-l" id="heading-container">
    <span class="nhsuk-caption-l nhsuk-caption--bottom">Create a new role listing</span>
    <span class="nhsuk-heading-l" id="heading">Add information on your organisation</span>
  </h1> 


        

            <!--Give an overview of your organisation-->
            <form class="form" action="/sprint-8/recruiter/application-form-options" method="post">


                <input type="hidden" name="_csrf" value="Ght2mB1x-EWmh83QMheZ8fsHCDfSh0HLA8ak">
                <fieldset class="nhsuk-fieldset" id="">
                    <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">
                        Give an overview of your organisation
                    </legend>
                    <div tabindex="0" class="nhsuk-form-group ">
                        <h2 class="nhsuk-heading-m">Give an overview of your organisation</h2>

    
        <div class="nhsuk-form-group ">

            <div class="nhsuk-form-group">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Introduce the volunteering service team, the atmosphere and the benefits of volunteering at your organisation. 
                    </label>
                    
                    <br>
                
                <div class="nhsuk-hint" id="example-hint">
                    This information will feature in all the role listings you and your team create. You can change them at any time in the 'Manage your account' section.
                </div>
                <textarea class="nhsuk-textarea"  rows="12">At XX, we have a team of brilliant, active and highly valued team of volunteers who give their time to make a difference for patients and medical staff every week. Our volunteers have non-clinical roles that make a positive impact and improve the experience of patients using the hospital. We have a dedicated team of staff who supports our volunteers from the start and provides comprehensive induction and on-going training opportunities. We can ensure you feel welcome and part of the team. We welcome applications from all sections of the community and are keen to diversify our volunteer workforce. 
                </textarea>
                
              </div>
              <input type="hidden" id="jobOverview-character-count" name="jobOverview-character-count" value="219">
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-remaining">
                You have <span class="nhsuk-character-count-remaining">600</span> characters remaining
            </p>
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-toomany nhsuk-error-message" style="display: none;">
                You have <span class="nhsuk-character-count-toomany"></span> characters too many
            </p>
            <noscript>
                <span class="nhsuk-hint" aria-live="polite">
                    You can enter up to 1500 characters
                </span>
                <style type="text/css">
                    .nhsuk-hint-character-count { display:none; }
                </style>
            </noscript>

            <hr>

            <!--upload & URL-->

            <div class="nhsuk-form-group ">
                <h2 class="nhsuk-heading-m">Upload images</h2>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </label>
                    <br>

                  <label class="nhsuk-label " for="supportingDoc" id="">
                      Upload a file
                  </label>
                  
                  <input class="active-input_yellow-black-border" id="supportingDoc" name="supportingDoc" type="file" accept=".doc,.docx,.pdf">
              
                </div>
      
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Upload file
                    </button>

                    <!--LINK TABLE-->
              <table class="nhsuk-table">
                <thead class="nhsuk-table__head">
                    <tr class="nhsuk-table__row">
                        <th class="nhsuk-table__header" scope="col">Name</th>
                        <th class="nhsuk-table__header" scope="col">Document</th>
                        <th class="nhsuk-table__header" scope="col">What you can do</th>
                    </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                    
                        <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                                Trust logo
                            </td>
                            <td class="nhsuk-table__cell">
                                <button class="button-link" type="submit" id="getFile_6879" name="getFile" value="6879">
                                  pennine-trust-logo.png (PNG, 20 KB)
                                </button>
                            </td>
                            <td class="nhsuk-table__cell">
                                
                                  <a href="/sprint-8/recruiter/logo-url#Uploaded files" id="change_doc_6879">Change</a>
                                  or
                                
                                <a href="/sprint-8/recruiter/logo-url#Uploaded files" id="remove_doc_6879">Remove</a>
                            </td>
                        </tr>
                  
                </tbody>
            </table>
      
      <hr>
          
                    <div class="nhsuk-form-group">
                    <h2 class="nhsuk-heading-m">Add website address</h2>
                    <label class="nhsuk-label" for="example">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </label>
                    <br>

                    <label class="nhsuk-label" for="example">
                      Volunteering website address
                    </label>
                    <input class="nhsuk-input" id="example" name="example" type="text" value="https://www.bhrhospitals.nhs.uk/volunteer">
                  </div>
      
                    
                   
                  </div>
            </fieldset>
        </div>








        
                
                    </div>
                </fieldset>
               
                
                    <input class="nhsuk-button" type="submit" id="save_continue" value="Save and continue">
                
            </form>
        </div>
    </div>
{% endblock %}
