{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/sprint-8/recruiter/onboard-role-location">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            

            
  <h1 class="nhsuk-heading-l" id="heading-container">
    <span class="nhsuk-caption-l nhsuk-caption--bottom">Confirm default organisation settings</span>
    <span class="nhsuk-heading-l" id="heading">Add information on your organisation</span>
  </h1> 


        

            <!--Give an overview of your organisation-->
            <form class="form" action="/sprint-8/recruiter/onboard-primary-contact" method="post">



    
        <div class="nhsuk-form-group ">

            <div class="nhsuk-form-group">

              <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>This information will feature in all the role listings you and your team create. You can change them at any time in the 'Manage your account' section.</p>
              </div>
          
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Introduce the volunteering service team, the atmosphere and the benefits of volunteering at your organisation. 
                    </label>
                    
                   

                   
                
                <textarea class="nhsuk-textarea" id="example" name="example" rows="12" aria-describedby="example-hint">
                </textarea>
                
              </div>
              <input type="hidden" id="jobOverview-character-count" name="jobOverview-character-count" value="219">
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-remaining">
                You have <span class="nhsuk-character-count-remaining">600</span> characters remaining
            </p>
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-toomany nhsuk-error-message" style="display: none;">
                You have <span class="nhsuk-character-count-toomany"></span> characters too many
            </p>
            <noscript>
                <span class="nhsuk-hint" aria-live="polite">
                    You can enter up to 1500 characters
                </span>
                <style type="text/css">
                    .nhsuk-hint-character-count { display:none; }
                </style>
            </noscript>

            <hr>

            <!--upload & URL-->

            <div class="nhsuk-form-group ">
                <h2 class="nhsuk-heading-m">Add your organisation logo</h2>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                      You can add the logo of your organisation to the role listing.</label>
                    <br>

                  <label class="nhsuk-label " for="supportingDoc" id="">
                      Upload a file
                  </label>
                  
                  <input class="active-input_yellow-black-border" id="supportingDoc" name="supportingDoc" type="file" accept=".doc,.docx,.pdf">
              
                </div>
      
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Upload file
                    </button>
      
      <hr>
          
                    <div class="nhsuk-form-group">
                    <h2 class="nhsuk-heading-m">Add website address</h2>
                    <label class="nhsuk-label" for="example">
                      Use this to link from the role listings to the volunteering webpage of your NHS organisation. 
                    </label>
                    <br>

                    <label class="nhsuk-label" for="example">
                      Volunteering webpage address
                    </label>
                    <input class="nhsuk-input" id="example" name="example" type="text">
                  </div>
      
                    
                   
                  </div>
            </fieldset>
        </div>








        
                
                    </div>
                </fieldset>
               
                
                    <input class="nhsuk-button" type="submit" id="save_continue" value="Save and continue">
                
            </form>
        </div>
    </div>
{% endblock %}
