{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <!-- Add your content here -->

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="/sprint-7/recruiter/create-or-reuse">
<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
Go back</a>
</div>

              <h1 class="nhsuk-heading-l" id="heading-container">
                  <span class="nhsuk-heading-l" id="create-new" value="create-new">Select an existing role listing to reuse</span>
              </h1>

    </div>  
    </div>

    <p>Select one option from the dropdown list</p>


    <!--Radios-->
    <div class="nhsuk-form-group">

      <div class="nhsuk-radios">

        <p>Recent role listings</p>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="walk-talk-role">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
            Walk and talk volunteer (created on 00/00/2022 at 00:00)
          </label>
        </div>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="lived-exp">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
            Lived experience practitioner (created on 00/00/2022 at 00:00)
          </label>
        </div>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="community-responder">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
            Community first responder (CFR) (created on 00/00/2022 at 00:00)
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="calls">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
            Calls with care volunteer, England-wide (created on 00/00/2022 at 00:00)
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="befriender">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
            Telephone befriender, England-wide (created on 00/00/2022 at 00:00)
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="hospice-befriender">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
            Hospice call befriender, England-wide (created on 00/00/2022 at 00:00)
          </label>
        </div>
  
      </div>
    </div>

    <!--buttons-->  
    <form class="form" action="/sprint-7/recruiter/reuse-role-start" method="post">  
    <button class="nhsuk-button" type="submit"> 
      Continue
      </button>

    </form>

  </div>
{% endblock %}
