{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/sprint-8/recruiter/time-commitment-1">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Go back</a>
            </div>

            <h1 class="nhsuk-heading-l" id="heading-container">
              <span class="nhsuk-caption-l nhsuk-caption--bottom">Create a new role listing</span>
              <span class="nhsuk-heading-l" id="heading">What is the minimum time commitment required?</span>
            </h1>

            <p class="nhsuk-heading-s">
              Walk and Talk volunteer
              <span class="status-box status-box-blue" aria-label="status for Walk and Talk volunteer is DRAFT" id="status_DRAFT" role="status">
                DRAFT
              </span>
            </p>

            <p id="reference_number" role="note" aria-label="Reference number: T5555-22-9757">Reference no: T5555-22-9757</p>

            <form class="form" action="/sprint-8/recruiter/define-availability" method="post">

              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                      Select how long you need the applicants to volunteer for at your organisation.
                  </legend>

                  <div class="nhsuk-radios">

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="time-commitment-1" name="time-commitment" type="radio" value="max-3">
                      <label class="nhsuk-label nhsuk-radios__label" for="time-commitment-1">
                        Less than 3 months
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="time-commitment-2" name="time-commitment" type="radio" value="max-6">
                      <label class="nhsuk-label nhsuk-radios__label" for="time-commitment-2">
                        3 to 6 months
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="time-commitment-3" name="time-commitment" type="radio" value="over-6">
                      <label class="nhsuk-label nhsuk-radios__label" for="time-commitment-3">
                        More than 6 months
                      </label>
                    </div>

                  </div>
                </fieldset>

              </div>

              <input class="nhsuk-button" type="submit" name="continue" id="continue" value="Save and continue">
              <p><a id="save_come_back" href="/sprint-8/recruiter/dashboard" class="nhsuk-link--no-visited-state">Save and come back later</a></p>
            </form>
        </div>
    </div>
{% endblock %}
