{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/sprint-7/recruiter/about-us">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            

            
  <h1 class="nhsuk-heading-l" id="heading-container">
    <span class="nhsuk-caption-l nhsuk-caption--bottom" id="flow-heading">Create a new role listing</span>
    <span class="nhsuk-heading-l" id="heading">Do you want to receive applications through this service?</span>
  </h1> 

    
        <p class="nhsuk-heading-s">
            Walk and talk volunteer
            <span class="status-box status-box-blue" aria-label="status for CVFlowOffline is DRAFT" id="status_DRAFT" role="status">
                DRAFT
            </span>
        </p>
    
            <p id="reference_number" role="note" aria-label="Reference number: T5555-22-9759">Reference no: T5555-22-9759</p>
            
            <form class="form" action="/sprint-6/recruiter/logo-url" method="post">
              <div class="nhsuk-form-group">
              
                  <div class="nhsuk-hint" id="contact-hint">
                    <p>Select one option</p>
                    <p>You should select YES if you wish to receive applications for this role through NHS Volunteering. You can select options for the application form and the role listing will be published on this service. You can monitor and review applications from the dashboard.</p>
                  </div>
              
                  <div class="nhsuk-radios nhsuk-radios--conditional">
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="yes~/sprint-7/recruiter/application-form-options#Do you want to receive applications through this service?" aria-controls="conditional-contact-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                        Yes, create an application form
                      </label>
                    </div>
              
                    
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="contact-2" name="contact"  checked type="radio" value="no~/sprint-7/recruiter/logo-url" aria-controls="conditional-contact-2" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                        No, link to an application form on a different system 
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
              
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="phone">
                          Enter the application form link
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-full" id="phone" name="phone" type="text" value="assemble.com/role6393739383-273974">
                      </div>
              
                    </div>
              
                    
                  </div>
                </fieldset>
              
              </div>
            
              <input class="nhsuk-button" type="submit" id="save_continue" value="Save and continue">
            </form>
              
            <p><a id="save_come_back" href="/sprint-7/recruiter/dashboard" class="nhsuk-link--no-visited-state">Save and come back later</a></p> 
          
      </form>

            
              </div>
            {% endblock %}
