{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/sprint-7/recruiter/login">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Sign out</a>
</div>  

      <!-- Add your content here -->


            
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
      <h1 class="nhsuk-heading-l" id="heading-container">
        <span class="nhsuk-caption-l nhsuk-caption--bottom" id="flow-heading">NHS Volunteering</span>
        <span class="nhsuk-heading-l" id="heading">Dashboard</span>
      </h1> 

      
    
          <div class="tabs" data-js="tabs">
            <div class="tabs-nav">
      
        <ul class="tabs-list" role="tablist" style="display: block;">
          <li role="presentation">
            <a class="tabs-toggle" href="/sprint-7/recruiter/dashboard#Dashboard" role="tab" aria-controls="tab-1" aria-selected="true" tabindex="0">
              Role listings
            </a>
          </li>
          <li role="presentation">
            <a class="tabs-toggle" href="/sprint-7/recruiter/dashboard-tab-2" role="tab" aria-controls="tab-2" tabindex="-1" aria-selected="false">
              Data monitoring
            </a>
          </li>
        </ul>
      
    
    </div>

    <!--TAB 1-->
    
            <div class="tabs-content">
              <div class="tabs-panel" id="tab-1" role="tabpanel" aria-hidden="false" data-id="tab-1">
                <div class="tabs-panel-inner" tabindex="0">
                  
                    
        
      
    
      <noscript>
        <div style="float: left; padding-left: 10px; padding-top: 13px;" class="nhsuk-form-group">
          <button class="nhsuk-button nhsuk-button--secondary" type="submit" name="refresh" id="refresh">
            Refresh
          </button>
        </div>
      </noscript>
    </form>
                  
            
                  <dl class="nhsuk-summary-list" style="padding-top: 10px;">
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            <h2 class="nhsuk-heading-s">
              
                <a id="DRAFT_URL" href="/sprint-7/recruiter/dashboard#Role listings" class="nhsuk-link nhsuk-link--no-visited-state">Drafts</a>
              
            </h2>
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              <span id="DRAFT_counter" class="single-number-strong" style="font-size: 1.5rem">29</span>
              
                
              
            </p>
    
            
          </dd>
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            <h2 class="nhsuk-heading-s">
              
                <a id="APPROVALS_URL" href="/sprint-7/recruiter/dashboard#Role listings" class="nhsuk-link nhsuk-link--no-visited-state">Published roles</a>
              
            </h2>
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              <span id="APPROVALS_counter" class="single-number-strong" style="font-size: 1.5rem">7</span>
              
                
              
            </p>
    
            
          </dd>
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            <h2 class="nhsuk-heading-s">
              
                <a id="PUBLISHED_URL" href="/sprint-7/recruiter/dashboard#Role listings" class="nhsuk-link nhsuk-link--no-visited-state">Closed roles</a>
              
            </h2>
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              <span id="PUBLISHED_counter" class="single-number-strong" style="font-size: 1.5rem">2</span>
              
            </p>
    
            
          </dd>
        </div>
      
        
      
    </dl>
                </div>
              </div>
            </div>

            
    
            <!--DELETE!! TAB 2???-->
            
              <div class="tabs-content">
                <div class="tabs-panel nhsuk-u-visually-hidden" id="tab-2" role="tabpanel" aria-hidden="true" data-id="tab-2">
                  <div class="tabs-panel-inner" tabindex="0">
                    
      <form method="post" autocomplete="off" class="nhsuk-u-clear">
        <input type="hidden" name="_csrf" value="EGzIzRlG-wj1tMGsUZgURcPJ70p_CYiwKPRI">
    
        <div style="float: left" class="nhsuk-form-group">
          <label class="nhsuk-label" for="select-department">Showing listings for</label>    
          <select onchange="window.document.location.href='/work/' + this.options[this.selectedIndex].value + '#tab-2';" class="nhsuk-select" id="select-department" name="workloadFilterId">
            <optgroup label="Departments">
              
                <option value="" selected="">All departments</option>
              
                <option value="d29ya2xvYWRfZGVwYXJ0bWVudGlkXzE1NA==">Administration</option>
              
                <option value="d29ya2xvYWRfZGVwYXJ0bWVudGlkXzg4">Medical</option>
              
                <option value="d29ya2xvYWRfZGVwYXJ0bWVudGlkXzE5NA==">Work Experience</option>
              
                <option value="workload_unassigned_department">Unassigned department</option>
              
            </optgroup>
          </select>
        </div>
    
        <noscript>
          <div style="float: left; padding-left: 10px; padding-top: 13px;" class="nhsuk-form-group">
            <button class="nhsuk-button nhsuk-button--secondary" type="submit" name="refresh" id="refresh">
              Refresh
            </button>
          </div>
        </noscript>
      </form>
    
    
                    
      
        <dl class="nhsuk-summary-list" id="unassigned-user-list" style="padding-top: 10px;">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              
                <h2 class="nhsuk-heading-s">
                  <a id="listings_by_unassigned" href="/work/workload-tasks/unassigned">Unassigned user</a>
                </h2>
              
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>
                <span id="unassigned_counter" class="single-number-strong" style="font-size: 1.5rem">65</span>
                
                  <span>  
                    - on track 19, due 1, overdue 45
                  </span>
                
              </p>
    
              <div class="bar-chart-bar">
                <div class="bar bar-green" style="width: 19%"></div>
                <div class="bar bar-amber" style="width: 1%"></div>
                <div class="bar bar-red" style="width: 45%"></div>
              </div>
            </dd>
          </div>
        </dl>
        <br>
      
    
      
    
      
    
    
    <dl class="nhsuk-summary-list" id="assigned-user-list" style="padding-top: 10px;">
      
        
      
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              
                <h2 class="nhsuk-heading-s">
                  <a id="listings_by_Nzc2" href="/work/workload-tasks/Nzc2">Ashleigh McFadyen</a>
                </h2>
              
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>
                <span id="Nzc2_counter" class="single-number-strong" style="font-size: 1.5rem">3</span>
                
                  <span>  
                    - on track 0, overdue 3
                  </span>
                
              </p>
    
              <div class="bar-chart-bar">
                <div class="bar bar-green" style="width: 0%"></div>
                <div class="bar bar-amber" style="width: 0%"></div>
                <div class="bar bar-red" style="width: 3%"></div>
              </div>
            </dd>
          </div>
        
      
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              
                <h2 class="nhsuk-heading-s">
                  <a id="listings_by_Mjky" href="/work/workload-tasks/Mjky">Jennifer Prince</a>
                </h2>
              
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>
                <span id="Mjky_counter" class="single-number-strong" style="font-size: 1.5rem">1</span>
                
                  <span>  
                    - on track 0, overdue 1
                  </span>
                
              </p>
    
              <div class="bar-chart-bar">
                <div class="bar bar-green" style="width: 0%"></div>
                <div class="bar bar-amber" style="width: 0%"></div>
                <div class="bar bar-red" style="width: 1%"></div>
              </div>
            </dd>
          </div>
        
      
    </dl>
                  </div>
                </div>
              </div>
            
          </div>
        </div>


        <!--ACTION PANEL-->
        <div class="nhsuk-grid-column-one-third">
          <div class="action-block">
      <h2 class="nhsuk-heading-m">What you can do</h2>
      
        <a class="nhsuk-button" href="/sprint-7/recruiter/create-or-reuse" role="button" draggable="false" id="create_role">
          Create a role listing
        </a>
      
      <a class="nhsuk-button nhsuk-button--secondary" href="/sprint-7/recruiter/settings-menu" role="button" draggable="false" id="manage_settings">
        Manage settings
      </a>
      
      
    </div>
    
    
    
    
    
      
    
    
    
    
    
            
                
    <noscript>
        </br>
        <p id="timeout_message">For your security we'll sign you out if you do not move from this page by
            12:53 pm BST.</p>
    </noscript>
    
    <div id="timeout-modal" class="modal" style="display: none;">
        <div id="timeout-model-content" class="modal-content" style="display: none;">
            <h1 class="nhsuk-heading-l">Your session will time out soon</h1>
            <p>For your security we'll sign you out if you do not respond in <span id="timeleft">89</span> minutes.</p>
    
            <a class="nhsuk-button" href="#" role="button" draggable="false" onclick="window.location.reload();">
                Get more time
            </a>
        </div>
    </div>
    
    <script type="text/javascript">
    
      let secondsLeft = 5399.1;
      const warningSecondsLeftThreshold = 300; //5 minutes
      const timeOut = new Date().getTime()/1000 + secondsLeft;
      const updateIntervalMilliseconds = 5000;
    
      function showTimeoutWarning() {
        document.getElementById('timeout-modal').style.display = 'block';
        document.getElementById('timeout-model-content').style.display = 'block';
      }
    
      function hideTimeoutWarning() {
        document.getElementById('timeout-modal').style.display = 'none';
        document.getElementById('timeout-model-content').style.display = 'none';
      }
    
      function updateTimeRemaining() {
        secondsLeft = timeOut - new Date().getTime()/1000;
        document.getElementById('timeleft').innerHTML = secondsLeft <= 0 ? 0 : Math.ceil(secondsLeft / 60);
      }
    
      function updateTimeout() {
        if (secondsLeft <= 0) {
          document.location.href='../timed-out';
        }
    
        if (secondsLeft < warningSecondsLeftThreshold) {
          showTimeoutWarning();
        } else {
          hideTimeoutWarning();
        }
    
        updateTimeRemaining();
      }
    
      setTimeout(function runTimeout() {
        updateTimeout();
        setTimeout(runTimeout, updateIntervalMilliseconds);
      }, updateIntervalMilliseconds);
    
    </script>
    
            
        </main>
    </div>
{% endblock %}
