{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-7/recruiter/enter-email-1" id="back-link">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
      </div>

       

      <h2>
        Confirm your email address
      </h2>

<p>We have sent a verification code to <a href="/sprint-7/recruiter/enter-email-2">michelle.obama@nhs.net</a></p>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-width-20">
    Verification code
  </label>
  <input class="nhsuk-input nhsuk-input--width-20" id="example" name="test-width-20" type="text">
</div>



<form class="form" action="/sprint-7/recruiter/create-password" method="post">
<button class="nhsuk-button" type="submit">
  Continue
  </button>
</form>

    

  </div>
{% endblock %}
