{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->

            
    
    
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                
        
        
            
                
            
        
        <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="/sprint-7/recruiter/login" id="back-link">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
    </div>
    
    
                <h1 class="nhsuk-heading-l" id="heading-container">
                    <span class="nhsuk-heading-xl" id="heading">Create sign in details for NHS Volunteering</span>
                </h1>
    
                <p class="nhsuk-body-l">Use this section to register yourself, or your team members, to advertise roles and decide how you want to receive applications. </p>
                <p class="nhsuk-body">You can:</p>
    
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>decide who has access and can manage the role listings in your organisation</li>
                    <li>decide how you want to receive applications</li>
                    <li>preset the locations of your roles</li>
                    <li>add details of the primary point of contact</li>
                    <li>add information about your organisation.</li>
                    
                </ul>
    
                <p class="nhsuk-body">
                  These settings will feature by default in the role listings for your organisation. You can change them at any time in the 'Manage your account' section.
                </p>
    
                <form class="form" action="/sprint-7/recruiter/enter-email-1" method="post">
                    <input class="nhsuk-button" type="submit" id="save_continue" name="continueButton" value="Continue">
                </form>
            </div>
        </div>
    
        
    
    
    
            
                
    
    </script>
    
            
        </main>
    </div>
{% endblock %}
