{% extends 'layout.html' %}

{% block pageTitle %}
  Confirmation page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

        <div class="nhsuk-card__content">
          
          <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            <strong>Onboarding completed and settings saved</strong>
          </h1>


          <h2 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            Settings saved:
          </h2>

          <ul>
         <li>recruitment administrator(s)</li>
          <li>role locations</li>
          <li>organisation overview</li>
          <li>supporting information</li>
          <li>primary contact</li>
          <li>applications settings</li>
          
            </ul>
        
          
        </div>

      </div>

      <p>We have sent a confirmation email to <a href="/sprint-7/recruiter/onboard-confirmation#What happens next">michelle.obama@nhs.net</a>.</p>

      <h2>What happens next</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ul>

        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>

      
      <br>

      <!--buttons-->        
<a href="/sprint-7/recruiter/dashboard" <button class="nhsuk-button"> 
  Return to dashboard
  </button></a>


      

  
    </div>
  </div>
{% endblock %}
