{% extends 'layout.html' %}

{% block pageTitle %}
  Confirmation page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

        <div class="nhsuk-card__content">
          
          <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            <strong>Onboarding completed and settings saved</strong>
          </h1>


          <h2 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            Settings saved:
          </h2>

          <ul>
         <li>recruitment administrator(s)</li>
          <li>role locations</li>
          <li>organisation overview</li>
          <li>supporting information</li>
          <li>primary contact</li>
          <li>applications settings</li>
          
            </ul>
        
          
        </div>

      </div>

      <p>We have sent a confirmation email to <a href="/sprint-7/recruiter/onboard-confirmation#What happens next">michelle.obama@nhs.net</a>.</p>

      <p>We have sent a verification email to <a href="/sprint-7/recruiter/onboard-confirmation#What happens next">BSA.admin@nhs.net</a>.</p>


      <h2>What happens next</h2>

      <p>We've saved your default settings. These will be added automatically when you create or reuse a role listing. You can change them at any time in the 'Manage your account' section from the dashboard.</p>
      
        

      <!--buttons-->        
<a href="/sprint-7/recruiter/dashboard" <button class="nhsuk-button"> 
  Return to dashboard
  </button></a>


      

  
    </div>
  </div>
{% endblock %}
