{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <!-- Add your content here -->

    <div class="nhsuk-grid-row">
          <div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="/sprint-7/recruiter/dashboard">
<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
Go back</a>
</div>
     
    
          <h2>
            Manage settings menu
          </h2>
    
              <!-- 2. DEFAULT SETTINGS -->
              
                <h2 id="JOB_DETAILS_section" class="nhsuk-heading-m">Default organisation settings</h2>
                <p>Use this section to review and edit the default settings that feature in the role listings for your organisation.
                  <br> You can edit:
                </p>
                <ul>
                  <li>who has access and can manage the role listings in your organisation</li>
                  <li>how you want to receive applications</li>
                  <li>the locations of your roles</li>
                  <li>the primary point of contact details </li>
                  <li>the information about your organisation. </li>
                </ul>
              
          
              <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9">
                
                  
          
          
                <!-- LOCATION, CONTACT_DETAILS task -->

                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-7/recruiter/settings-add-team" class="nhsuk-link--no-visited-state">Recruitment administrators</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                              
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-7/recruiter/settings-primary-contact" class="nhsuk-link--no-visited-state">Primary point of contact</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                              
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-7/recruiter/settings-role-location" class="nhsuk-link--no-visited-state">Role location</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                              
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-7/recruiter/settings-about-us" class="nhsuk-link--no-visited-state">Organisation information</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                              
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>

                <div class="nhsuk-summary-list__row" id="CONTACT_DETAILS_row">
                  <dd class="nhsuk-summary-list__value">
                    <a href="/sprint-7/recruiter/settings-app-form-options" class="nhsuk-link--no-visited-state">Third party integration</a>
                  </dd>
                  
                  <dd id="JOB_TITLE_status" class="nhsuk-summary-list__actions">
                              
                    <strong class="nhsuk-tag ">COMPLETED</strong>
                  
                          </dd>
                        
                      </div>


              </dl>

             
            </dl>

              

                          
          
                 
            </div>
          </div>
            
        </main>
  </div>
{% endblock %}
