{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="/sprint-4/account-page">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>  

      <h1>
        Start application form
      </h1>

      <h2 class="nhsuk-heading-m">Information collected</h2>
      <p>This application form will ask you for:</p>

      <ul>
        <li>full name</li>
        <li>date of birth</li>
        <li>address</li>
        <li>contact information</li>
        <li>availibility</li>
        <li>a summary of your previous experiences</li>
        <li>a summary of your interests (optional)</li>
      </ul>

      

      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>You can only use this service if you live in the UK.</p>

      <p>The form takes around 20 minute to complete.</p>

      <a href="/sprint-4/form-page-1" class="nhsuk-button">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
