{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-4/form-page-5">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>   

      <h2>
        Reuse your details to apply
      </h2>


      <div class="nhsuk-hint" id="contact-hint">
        Question 6 of X
      </div>

      <form class="form" action="/sprint-4/form-page-7" method="post"></form>

              <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h1 class="nhsuk-fieldset__heading">
                    What are your previous experiences and skills related to this role?
                  </h1>
                </legend>

                <div class="nhsuk-hint" id="example-hint">
                  Do not include personal or financial information, for example, your National Insurance number or credit card details.
                </div>
                <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                
                <div class="nhsuk-hint" id="example-hint" text-align:right>
                  X characters remaining
                </div>
              </div>
            
                
    

  <button class="nhsuk-button" type="submit">
    Save and continue
  </button>
</form>
</fieldset>



    

  </div>
{% endblock %}
