{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-4/nhsuk-homepage-2">Home</a></li>
    </ol>
  </div>
</nav>

{% endblock %}

{% block content %}
<!-- Case study videos -->
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-u-reading-width">
          <h2>Front of house roles</h2>
        </div>
        <p>Welcoming patients and visitors and supporting them during their wait or as they move around the unit. These roles are perfect for someone warm and friendly who enjoys direct contact with people.</p>
        

         <!--Information desk support-->
         <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Information desk support
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ul>
        
            </div>
          </details>
        
          <!--Meeting and greeting-->
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Meeting and greeting
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
              </ul>
              <p>content.</p>
        
            </div>
          </details>

          <!--Refreshment or library trolley services-->
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Refreshments or library trolley services
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
              </ul>
        
            </div>
          </details>

          <!--Hospital shops, cafes or libraries-->
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Hospital shops, cafes or libraries
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
              </ul>
        
            </div>
          </details>
        
        </div>
         

        
        
        
        <!--CTA button-->
          <div><a href="/sprint-4/results-page-role-type" class="nhsuk-button">
            Search front of house roles
          </a>

        </div>
      </div>


      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-card  nhsuk-card--clickable  ">
          <img class="nhsuk-card__img" src="/images/nhsuk/homepage/020720_PHE_Barrington_5426_TRL3_CL.2e16d0ba.fill-720x405.jpg" alt="">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading"><a class="nhsuk-card__link" href="">
              Jane Doe - front of house volunteer - video</a></h3>
            <p>
              <small><strong>Read transcript</small></strong> &nbsp; <small><strong>Audio visual description</small></strong> &nbsp; <small><strong>Subtitles</small></strong>
            </p>  
            <p class="nhsuk-card__description">Watch Jane describe a typical day as a front of house volunteer at St Mary’s Hospital </p>
            <h5>
              Jane Doe
            </h5>
            <ul>
              <li>Part time volunteer since 2016</li>
              <li>Enjoys making a cup of tea to waiting patients and visitors</li>
              <li>“Volunteering has give me a new lease of life”</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>  
    </div>

   


  </div>
{% endblock %}
