{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-4/nhsuk-homepage-2">Home</a></li>
    </ol>
  </div>
</nav>

{% endblock %}

{% block content %}
<!-- Case study videos -->
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-u-reading-width">
          <h2>Mental health care roles</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        

         <!--Ambulance service volunteer-->
         <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Ambulance service volunteer
              </span>
            </summary>
            
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ul>
        
            </div>
          
        

    
            

        </div>
         

        
        
        
        <!--CTA button-->
          <div><a href="/sprint-4/results-nhs-services" class="nhsuk-button">
            Search mental health care roles
          </a>

        </div>
      </div>


      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-card  nhsuk-card--clickable  ">
          <img class="nhsuk-card__img" src="/images/nhsuk/homepage/020720_PHE_Barrington_5426_TRL3_CL.2e16d0ba.fill-720x405.jpg" alt="">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading"><a class="nhsuk-card__link" href="">
              José Doe - mental health care - video</a></h3>
            <p>
              <small><strong>Read transcript</small></strong> &nbsp; <small><strong>Audio visual description</small></strong> &nbsp; <small><strong>Subtitles</small></strong>
            </p>  
            <p class="nhsuk-card__description">Watch José describe a typical day as a mental health care volunteer at ??? Hospital </p>
            <hr>
            <h5>
              José Doe
            </h5>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
              <li>“Lorem ipsum dolor sit amet consectetur adipiscing elit”</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</section>

    </div>  
    </div>

   


  </div>
{% endblock %}
