{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-4/nhsuk-homepage-2">Home</a></li>
    </ol>
  </div>
</nav>

{% endblock %}

{% block content %}
<!-- Case study videos -->
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-u-reading-width">
          <h2>Patient and therapy support roles</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        

         <!--Ambulance service volunteer-->
         <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Ambulance service volunteer
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ul>
        
            </div>
          </details>
        
          <!--Befriender, visitor or companion for patients-->
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Befriender, visitor or companion for patients
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
              </ul>
              <p>content.</p>
        
            </div>
          </details>

          <!--Hospital/virtual research volunteer-->
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Hospital/virtual research volunteer
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
              </ul>
        
            </div>
          </details>

          <!--Mealtimes volunteer-->
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Mealtimes volunteer
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>content</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
              </ul>
        
            </div>
          </details>

        <!--Patient transport and other driving support services-->
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Patient transport and other driving support services
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>content</p>
            <ul>
              <li>item 1</li>
              <li>item 2</li>
              <li>item 3</li>
            </ul>
      
          </div>
        </details>  

       
        <!--Peer support and other roles using lived experience-->
       <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Peer support and other roles using lived experience
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>content</p>
          <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
    
        </div>
      </details>   


      <!--Pets or animals therapy-->
       <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Pets or animals therapy
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>content</p>
          <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
    
        </div>
      </details>   


     <!--Providing support to people with dementia-->
     <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Providing support to people with dementia
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>content</p>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
  
      </div>
    </details>   


    <!--Supporting clinical service delivery-->
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Supporting clinical service delivery
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>content</p>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
  
      </div>
    </details>   

        </div>
         

        
        
        
        <!--CTA button-->
          <div><a href="/sprint-4/results-page-role-type" class="nhsuk-button">
            Search patient and therapy support roles
          </a>

        </div>
      </div>


      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-card  nhsuk-card--clickable  ">
          <img class="nhsuk-card__img" src="/images/nhsuk/homepage/020720_PHE_Barrington_5426_TRL3_CL.2e16d0ba.fill-720x405.jpg" alt="">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading"><a class="nhsuk-card__link" href="">
              José Doe - patient and therapy support - video</a></h3>
            <p>
              <small><strong>Read transcript</small></strong> &nbsp; <small><strong>Audio visual description</small></strong> &nbsp; <small><strong>Subtitles</small></strong>
            </p>  
            <p class="nhsuk-card__description">Watch José describe a typical day as a patient and therapy support volunteer at Ashcroft Hospital </p>
            <hr>
            <h5>
              José Doe
            </h5>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
              <li>“Lorem ipsum dolor sit amet consectetur adipiscing elit”</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>  
    </div>

   


  </div>
{% endblock %}
