{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/sprint-0/nhsuk-homepage-1",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Questionnaire journey
      </h1>

      <p>Use this service to:</p>

      <ul>
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>

      <p>The questionnaire takes around 2 minutes to complete.</p>


      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>You can only use this service if you live in the UK.</p>

      <a href="/sprint-0/question-page-1a" class="nhsuk-button">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
