{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-0/nhsuk-homepage-1">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-0/guidance-home-1">Guidance</a></li>
    </ol>
  </div>
</nav>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <h1>
        Exploring volunteering opportunities
      </h1>

      <p>
        There is a wide range of unpaid opportunities that you could help with.</p>

        <p>Some can be a one-off. Others can last longer.</p>

        <p>Most of the activities will be in person. There are some that you will be able to carry out from home too.</p>

        <p>The types of activities, time commitment and training will depend on the needs of your trust.</p>

        <p>There could be other factors to consider when choosing what activities you can get involved with.</p>

        <p>If you have any concerns, discuss with the volunteering service manager at your chosen NHS trust what options are available to you.</p>

        <p>Here are some of the most common activities:
      </p>

    </div>  
    </div>

   <hr> 
   
   <!--role categories-->
   
   <!--front of house--> 
   <h2>
    Front of house
   </h2> 

   <ul>
    <li>Information desk support</li>
    <li>Meeting and greeting</li>
    <li>Refreshment or library trolley services</li>
    <li>Hospital shops, cafes or libraries</li>
   </ul>

   <!--role page link-->
   <div>
   <ul class="nhsuk-list">
    <li><a href="/sprint-0/role-more-info-1a">Read more about these roles</a></li>
    </ul>
  </div>

<hr>
<!--Patient and therapy support--> 
  <h2>
    Patient and therapy support
   </h2> 

   <ul>
    <li>Ambulance service volunteer</li>
    <li>Befriender, visitor or companion for patients</li>
    <li>Hospital/virtual research volunteer</li>
    <li>Mealtimes volunteer</li>
    <li>Patient transport and other driving support services</li>
    <li>Peer support and other roles using lived experience</li>
    <li>Pets or animals therapy</li>
    <li>Providing support to people with dementia</li>
    <li>Supporting clinical service delivery</li>
   </ul>

   <!--role page link-->
   <div>
   <ul class="nhsuk-list">
    <li><a href="#">Read more about these roles</a></li>
    </ul>
  </div>

  <hr>
  <!--Recreational activities--> 
    <h2>
      Recreational activities
     </h2> 
  
     <ul>
      <li>Gardening</li>
      <li>Hospital radio and live entertainment</li>
      <li>Patient entertainment activities and exercise</li>
     </ul>
  
     <!--role page link-->
     <div>
     <ul class="nhsuk-list">
      <li><a href="#">Read more about these roles</a></li>
      </ul>
    </div> 
  

    <hr>
    <!--Admin and volunteering support--> 
      <h2>
        Admin and volunteering support
       </h2> 
    
       <ul>
        <li>Admin or clerical support</li>
        <li>Patient experience, surveys, or feedback collection</li>
       </ul>
    
       <!--role page link-->
       <div>
       <ul class="nhsuk-list">
        <li><a href="#">Read more about these roles</a></li>
        </ul>
      </div> 

  
  

   
  



  </div>
{% endblock %}
