{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-2/application-form-4">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div> 

      <h1>
        Application form - Role title
      </h1>   

  <!--Personal Details-->  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Review personal and contact information
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Karen Francis
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="/sprint-2/application-form-1">
              Change<span class="nhsuk-u-visually-hidden"> name</span>
            </a>
      
          </dd>
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            15 March 1984
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="/sprint-2/application-form-2">
              Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
            </a>
      
          </dd>
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address
          </dt>
          <dd class="nhsuk-summary-list__value">
            73 Roman Rd<br>Leeds<br> LS2 5ZN
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="/sprint-2/application-form-3">
              Change<span class="nhsuk-u-visually-hidden"> contact information</span>
            </a>
      
          </dd>
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Contact details
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>07700 900362</p>
            <p>karen.francis@example.com</p>
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="/sprint-2/application-form-4">
              Change<span class="nhsuk-u-visually-hidden"> contact details</span>
            </a>
      
          </dd>
      
        </div>
      
      </dl>
  
    </div>
  </details>  
      
<!--Form fields sub 1-->
<form class="form" action="/" method="post"></form>

<h2>Subheading 1</h2>
<h3>subsection</h3>
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="select-1">
    Label text goes here
  </label>
  <select class="nhsuk-select" id="select-1" name="select-1">
    <option value="1">NHS.UK frontend option 1</option>
    <option value="2" selected>NHS.UK frontend option 2</option>
    <option value="3" disabled>NHS.UK frontend option 3</option>
  </select>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Can you provide more detail?
  </label>
  <div class="nhsuk-hint" id="example-hint">
    Do not include personal or financial information, for example, your National Insurance number or credit card details.
  </div>
  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
</div>
 <hr> 

<!--Form fields sub 2-->
<h2>Subheading 2</h2>
<h3>subsection</h3>     
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="select-1">
    Label text goes here
  </label>
  <select class="nhsuk-select" id="select-1" name="select-1">
    <option value="1">NHS.UK frontend option 1</option>
    <option value="2" selected>NHS.UK frontend option 2</option>
    <option value="3" disabled>NHS.UK frontend option 3</option>
  </select>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="select-1">
    Label text goes here
  </label>
  <select class="nhsuk-select" id="select-1" name="select-1">
    <option value="1">NHS.UK frontend option 1</option>
    <option value="2">NHS.UK frontend option 2</option>
    <option value="3">NHS.UK frontend option 3</option>
  </select>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Label
  </label>
  <input class="nhsuk-input" id="example" name="example" type="text">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Label
  </label>
  <input class="nhsuk-input" id="example" name="example" type="text">
</div>
<br>
  
  </div>
  </div>

  <!--CTA-->
  <button class="nhsuk-button" type="submit">
    Save and continue
  </button>

    </div>

  </div>
{% endblock %}
