{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-0/nhsuk-homepage-1">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-2/category-based-browse">Explore role categories</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-2/front-of-house-roles-b">Front of house introduction</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-2/front-of-house-results-2">Front of house results</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}

<!--Title left-->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Meeting and greeting patients
      </h1>

      <h3>
      Ashford Hospital
      </h3>

      <h3>The closing date is 03 October 2022</h3>

      </div>
    

<!--Right hand panel-->
      <div class="nhsuk-grid-column-one-third nhsuk-u-padding-top-2">
      
        <div class="nhsuk-action-link">
          
          <a id="apply-ats-direct" class="nhsuk-button" style="width: 100%" href="/sprint-2/application-start">
            Apply for this job
          </a>
      
          
            <a id="apply-ats-direct" class="nhsuk-button nhsuk-button--secondary" style="width: 100%" href="/sprint-2/saved-roles">
              Save for later
            </a>
            


 <!--White box-->  
 
 <div class="forms-wrapper-white nhsuk-u-margin-bottom-4" style="overflow-wrap: break-word;">
  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">For questions about the job, contact:</h3>
  <div id="contact_details">
    <p class="nhsuk-u-margin-bottom-2" id="contact_details_name">Helen-Marie Cripps</p>
    <p class="nhsuk-u-margin-bottom-2" id="contact_details_email"><a href="mailto:helen-marie.cripps@nhs.net">helen-marie.cripps@nhs.net</a></p>
    <p class="nhsuk-u-margin-bottom-2" id="contact_details_number">01273696966</p>

  </div>
</div>
          
        </div>
          </div>

          

<!--Summary copy left-->
      <div class="nhsuk-grid-column-two-thirds">
      <h5>Job summary</h5>

      <p> This is an exciting opportunity to join the Radio pharmacy team at the Royal Sussex County Hospital in Brighton. The licensed unit supplies radio pharmaceuticals to three Nuclear Medicine departments in local hospitals. We will shortly be moving to a purpose built department in a brand new, modern and innovative hospital and are looking to expand the service and the workforce.

        We are seeking an enthusiastic and motivated professional team player with previous experience of manufacturing radio pharmaceuticals and exceptional organisation and communication skills.
        
        The impending move into the new hospital will provide an opportunity for expansion of the current Radio pharmacy service in both scale and scope, and would suit a dynamic individual who is looking to broaden their experience and to make a positive contribution to the future development of the UHSussex Radio pharmacy.
      </p>
      
      <br>

      <h5>Main duties of the job</h5>

      <p>The role includes supporting the delivery of a comprehensive, efficient and high quality clinical Radiopharmacy service to the Trust and external customers. The key aspects include participation in the manufacture and quality control testing of radio pharmaceuticals, blood labelling and supporting the effective operation of the Quality Management System developed and maintained by the Radio pharmacy covering documentation management, recording and investigation of non-conformance and deviations and the change control process.
      
      The Radio pharmacy currently operates under a Manufacturing Specials (MS) licence, and the intention would be to ensure that the new facility is similarly licensed.  
       </p> 
      <br> 

      <h5>About us</h5> 

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 
      </p>

     <h2>Job description</h2> 
     <h5>Job responsibilities</h5>
     <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 
      </p>

     <h2>Person Specification</h2> 
     <h5>Experience</h5>
     <h6>Essential</h6>

     <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
     </ul>

     <h6>Desirable</h6>
     <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
     </ul>

     <h3>Disclosure and Barring Service Check</h3>
     <p>This post is subject to the Rehabilitation of Offenders Act (Exceptions Order) 1975 and as such it will be necessary for a submission for Disclosure to be made to the Disclosure and Barring Service (formerly known as CRB) to check for any previous criminal convictions.
     
     Certificate of Sponsorship
     Applications from job seekers who require current Skilled worker sponsorship to work in the UK are welcome and will be considered alongside all other applications. For further information visit the UK Visas and Immigration website (Opens in a new tab).
     
     From 6 April 2017, skilled worker applicants, applying for entry clearance into the UK, have had to present a criminal record certificate from each country they have resided continuously or cumulatively for 12 months or more in the past 10 years. Adult dependants (over 18 years old) are also subject to this requirement. Guidance can be found here Criminal records checks for overseas applicants (Opens in a new tab).
     </p>

     <h3>Provider details</h3>
     <h6>Trust name</h6>
     <p>Name</p>

     <h6>Address</h6>
     <p>Royal Sussex County Hospital
      <br>
      Eastern Road
      <br>
      Brighton
      <br>
      BN2 5BE</p>
    
      <h6>
      Providers's website</h6>
      <p>
      <a href="https://www.uhsussex.nhs.uk/ (Opens in a new tab)">https://www.uhsussex.nhs.uk/ (Opens in a new tab)</a>
      </p>
      
      
    </div>
  </div>

  </div>
{% endblock %}
