{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-0/nhsuk-homepage-1">Home</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}

<!--Title left-->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

<h1>
Saved roles
</h1>

<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Part time receptionist, Mental Health Service (Lister Hospital), Stevenage</caption>
    <tr role="row">
      <td role="columnheader" class="" scope="col">
       <a href="/sprint-2/job-spec-1"> <button class="nhsuk-button"> 
        View role
        </button></a>
      </td>
      <td role="columnheader" class="" scope="col">
        Saved on 00 Mon 2022: 00:00 
      </td>
      <td role="columnheader" class="" scope="col">
        No longer available
      <td role="columnheader" class="" scope="col">
        <a href ="/"> Delete </a>
      </td>  
  </tbody>
</table>

<br>

<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Part time receptionist, Mental Health Service (Lister Hospital), Stevenage</caption>
    <tr role="row">
      <td role="columnheader" class="" scope="col">
       <a href="/sprint-2/job-spec-1"> <button class="nhsuk-button"> 
        View role
        </button></a>
      </td>
      <td role="columnheader" class="" scope="col">
        Saved on 00 Mon 2022: 00:00 
      </td>
      <td role="columnheader" class="" scope="col">
        <span>&#10003;&nbsp</span>Applied on 00 Mon 2022: 00:00 
      <td role="columnheader" class="" scope="col">
        <a href ="/"> Delete </a>
      </td>  
  </tbody>
</table>


</div>
 
    </div>
  </div>

  </div>
{% endblock %}
