{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <small><strong>From:</strong>NHS volunteering</small>
      <br>
      <small><strong>To:</strong>email.address@gmail.com</small>

      <br>

      <small>Monday 17 October 2022</small>

      <hr>

      <small>Subject line:</small>
      <h1>You have applied for Walk and talk Volunteer role</h1>

      <h3>Pennine Care NHS Trust</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <ul>
        <li>Main responsibilities: help run a walking group for people with memory problems or dementia, support service users to participate in social activities</li>
        <li>Three hours per week, Tuesday or Thursday</li>
        <li>CMHT Older People, Stockport SK2 5EQ</li>
      </ul>

      <hr>

      <h3>What happens next?</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>

      <hr>

      <h3>Do you have outstanding questions?</h3>

      <p><strong>Recruiter name</strong><br>
      Jaqie Lynn</p>

      <p><strong>Recruiter email address</strong><br>
        <a href="mailio:Jaqie.Lynn@nhsrecruitment.com">Jaqie.Lynn@nhsrecruitment.com</a></p>

      <p><strong>Recruiter contact number</strong><br>
      00000000000</p>



    </div>
  </div>
{% endblock %}