{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-6/volunteer/empty-form-page-3">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>   


      <!--H1 (2)-->
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            How do you want to be contacted about this role?
          </h1>
        </legend>

        
      
        <div class="nhsuk-hint" id="contact-hint">
          Question 4 of 6
        </div>

        <p class="nhsuk-body-l">
          Provide details for at least one option.
        </p>
     

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="select-1">
          Contact preference
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="0"selected>- set contact preference -</option>
          <option value="1">Contact me by email</option>
          <option value="2">Contact me by phone</option>
        </select>
      </div>

      
                <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Telephone number
            </label>
            <div class="nhsuk-hint" id="example-hint">
              Give us the number you are most likely to be reached on
            </div>
            <input class="nhsuk-input nhsuk-input--width-20" id="example" name="test-width-20" type="text">
          </div>
    

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Email address
            </label>
            <div class="nhsuk-hint" id="example-hint">
              We’ll only use this to contact you about this role            
            </div>
            <input class="nhsuk-input nhsuk-input--width-20" id="example" name="test-width-20" type="text" value="example.email@gmail.com">
          </div>

          
      
     
      
  
  

 <!--buttons-->        
<a href="/sprint-6/volunteer/empty-form-page-5"> <button class="nhsuk-button"> 
  Save and continue
  </button></a>

  &nbsp;
  
  <a href="/sprint-6/volunteer/saved-applications" <button class="nhsuk-button nhsuk-button--secondary">
    Save for later
  </button></a>   
  

  </div>

  </div>
{% endblock %}
