{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-6/volunteer/empty-form-page-6b-add-another">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>   

      <h2>
        What are your previous experiences, skills and interests in relation to this role?
      </h2>


      <div class="nhsuk-hint" id="contact-hint">
        Question 7 of 7
      </div>


   

                <div class="nhsuk-hint" id="example-hint">
                  Use this section to draw attention to your skills, knowledge and experience that are relevant to this role. Give examples of your lived experience to show how you are dedicated to the cause. Provide evidence of skills you have learned through employment, education and training that you can use in your volunteering role. 

                </div>
                
                <!--Text area1-->
                <textarea class="nhsuk-textarea" id="example" name="example" rows="4" aria-describedby="example-hint"></textarea>
                
                <div class="nhsuk-hint" id="example-hint">
                  800 characters remaining
                </div>
              

                
                
             
                
    
 <!--buttons-->        
<a href="/sprint-6/volunteer/check-your-answers"> <button class="nhsuk-button"> 
  Save and continue
  </button></a>

  &nbsp;
  
  <a href="/sprint-6/volunteer/saved-applications" <button class="nhsuk-button nhsuk-button--secondary">
    Save for later
  </button></a> 


</div>

</div>
{% endblock %}