{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-6/volunteer/landing-page">Home</a></li>      
    </ol>
  </div>
</nav>

{% endblock %}

{% block content %}
<!-- Case study videos -->
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-u-reading-width">
          <h2>Patient-facing support</h2>
        </div>
        <p>There are plenty of ways you can make patients' lives a little more comfortable. You’ll read together, chat, play games, take a walk or help them keep in contact with their families. If you are someone who enjoys direct contact with people, these roles are for you.</p>
        
        <hr>
        
        <!--CTA button-->
          <div><a href="/sprint-6/volunteer/patient-facing-results"> <button class="nhsuk-button nhsuk-button--reverse">
          Show all patient-facing support opportunities
          </button>
          </a>

          
          <br><br>
          
<!--result 1-->

<h3> Walk and talk volunteer, Pennine Care NHS Trust</h3>

<!--included-->
<ul>
  <li> Main responsibilities: help run a walking group for people with memory problems or dementia, support service users to participate in social activities</li>
  <li> Three hours per week, (9am-7pm), Tuesday or Thursday</li>
  <li> CMHT Older People, Stockport SK2 5EQ</li>
  </ul>

<!--buttons-->        
<a href="/sprint-6/volunteer/role-listing"> <button class="nhsuk-button"> 
View role
</button></a>

<a href="/sprint-6/volunteer/account-or-guest" <button class="nhsuk-button nhsuk-button--secondary">
  Sign in and save role
</button></a>   



<hr>

<!--result 2-->
<h3> Lived experience practitioner, Pennine Care NHS Trust</h3>

<!--included-->
<ul>
  <li> Main responsibilities: use your own experience with mental health conditions to help others in crisis</li>
  <li> Flexible hours, Monday to Wednesday</li>
  <li> Memorial Hospital, Shooters Hill, London SE18 3RG</li>
  </ul>

<!--buttons-->        
<a href="/sprint-6/volunteer/role-listing"> <button class="nhsuk-button"> 
  View role
  </button></a>
  
  <a href="/sprint-6/volunteer/account-or-guest" <button class="nhsuk-button nhsuk-button--secondary">
    Sign in and save role
  </button></a>    



<hr>

<!--result 3-->
<h3> Community first responder (CFR), East of England Ambulance Service</h3>

<!--included-->
<ul>
  <li> Main responsibilities: administer emergency care, including patient assessment skills, cardiopulmonary resuscitation and the use of an automatic external defibrillator (AED).</li>
  <li> Eight hours per week, (8am-12pm/1pm-5pm), Monday to Sunday</li>
  <li> Various areas in East England, view the exact locations on role listing</li>
  </ul>

<!--buttons-->        
<a href="/sprint-6/volunteer/role-listing"> <button class="nhsuk-button"> 
  View role
  </button></a>
  
  <a href="/sprint-6/volunteer/account-or-guest" <button class="nhsuk-button nhsuk-button--secondary">
    Sign in and save role
  </button></a>    

<br><br>

<!--CTA button-->
<div><a href="/sprint-6/volunteer/patient-facing-results"> <button class="nhsuk-button nhsuk-button--reverse">
  Show all patient-facing support opportunities
  </button>
  </a>




        </div>
      </div>
</div>
     


      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-card  nhsuk-card--clickable  ">
          <img class="nhsuk-card__img" src="/images/nhsuk/livewell/image1-with-play-overlay.jpg" alt="">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading"><a class="nhsuk-link--no-visited-state" href="">
              Jane Doe - Walk and talk volunteer - video</a></h3>
            <p>
              <small><strong>Read transcript</small></strong> &nbsp; <small><strong>Audio visual description</small></strong> &nbsp; <small><strong>Subtitles</small></strong>
            </p>  
            <p class="nhsuk-card__description">Watch Jane describe a typical day as a walk and talk volunteer at Birch Hill Hospital.
            </p>
            <hr>
            <h5>
              Jane Doe
            </h5>
            <ul>
              <li>Part time volunteer since 2016</li>
              <li>Enjoys chatting to patients while taking them out for a walk</li>
              <li>“Volunteering has give me a new lease of life”</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>  
    </div>

{% endblock %}
