{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-6/volunteer/landing-page">Home</a></li>      
    </ol>
  </div>
</nav>

{% endblock %}

{% block content %}
<!-- Case study videos -->
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-u-reading-width">
          <h2>Remote opportunities</h2>
        </div>
        <p>Volunteering is changing its face as times change. You can now offer your support to patients remotely. Bright up someone's day with just a 30min phone call or a video chat. You can  check up on them, make sure they have taken their medicine or just talk about the weather with a cup of tea. Your time and dedication will go a long way towards reducing the feeling of isolation and loneliness.</p>
        
        <hr>
        
        <!--CTA button-->
          <div><a href="/sprint-6/volunteer/results-page-remote-2"> <button class="nhsuk-button nhsuk-button--reverse">
          Show all remote opportunities
          </button>
          </a>

          
          <br><br>
          
<!--result 1-->
<h3> Calls with care volunteer, England-wide</h3>

<!--included-->
<ul>
    <li> Main responsibilities: offer companionship and good conversation to isolated people, improve their mental health</li>
    <li> Flexible hours, Monday to Sunday, Home-based</li>
    <li> Basic phone competence needed, volunteers will use their own phone</li>
    </ul>

<!--buttons-->        
<a href="/sprint-6/volunteer/Remote-roles-browse-2#Calls with care volunteer, England-wide"> <button class="nhsuk-button"> 
  View role
  </button></a>
  
  <a href="/sprint-6/volunteer/account-or-guest" <button class="nhsuk-button nhsuk-button--secondary">
    Sign in and save role
  </button></a>  



<hr>

<!--result 2-->
<h3> Telephone befriender, England-wide</h3>

<!--included-->
<ul>
    <li> Main responsibilities: provide additional support for lone people, giving comfort, company and time.</li>
    <li> 2 hours per week, flexible hours, Monday to Sunday, home-based.</li>
    <li> Home-based. Basic phone or video conference needed (MS Teams or Google meet), volunteers will use their own phone.</li>
    </ul>

<!--buttons-->        
<a href="/sprint-6/volunteer/Remote-roles-browse-2#Telephone befriender, England-wide"> <button class="nhsuk-button"> 
  View role
  </button></a>
  
  <a href="/sprint-6/volunteer/account-or-guest" <button class="nhsuk-button nhsuk-button--secondary">
    Sign in and save role
  </button></a>   



<hr>

<!--result 3-->
<h3> Hospice call befriender, England-wide</h3>

<!--included-->
<ul>
    <li> Main responsibilities: offer reassurance, compassion and social interaction to people on the phone.</li>
    <li> 3 hours per week, 2pm - 5pm, Monday to Friday, home-based.</li>
    <li> Basic phone competence needed, volunteers will use their own phone.</li>
    </ul>

<!--buttons-->        
<a href="/sprint-6/volunteer/Remote-roles-browse-2#Hospice call befriender, England-wide"> <button class="nhsuk-button"> 
  View role
  </button></a>
  
  <a href="/sprint-6/volunteer/account-or-guest" <button class="nhsuk-button nhsuk-button--secondary">
    Sign in and save role
  </button></a>   

<br><br>

<!--CTA button-->
<div><a href="/sprint-6/volunteer/results-page-remote-2"> <button class="nhsuk-button nhsuk-button--reverse">
  Show all remote opportunities
  </button>
  </a>




        </div>
      </div>
</div>
     


      <div class="nhsuk-grid-column-one-half app-section__content">
        <div class="nhsuk-card  nhsuk-card--clickable  ">
          <img class="nhsuk-card__img" src="/images/nhsuk/livewell/image1-with-play-overlay.jpg" alt="">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading"><a class="nhsuk-link--no-visited-state" href="">
              John Doe- telephone befriender in Lewisham - video</a></h3>
            <p>
              <small><strong>Read transcript</small></strong> &nbsp; <small><strong>Audio visual description</small></strong> &nbsp; <small><strong>Subtitles</small></strong>
            </p>  
            <p class="nhsuk-card__description">Watch John talk about why it is important to him to help lonely or socially isolated elderly people in his local community.</p>
            <hr>
            <h5>
              John Doe
            </h5>
            <ul>
              <li>Volunteers two hours a week</li>
              <li>Loves listening to old-time stories</li>
              <li>"I lost my mum recently and became a a telephone befriender volunteer to help people like her feel less lonely and isolated."</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    </div>  
    </div>

{% endblock %}
