{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <small><strong>From:&nbsp;</strong>NHS volunteering</small>
      <br>
      <small><strong>To:&nbsp;</strong>email.address@gmail.com</small>

      <br>

      <small><strong>Date:&nbsp;</strong> Monday 17 October 2022</small>

      <hr>

      <small>Subject line:</small>
      <h1>Application submitted - Walk and talk volunteer, Birch Hill Hospital</h1>

      <h2>About the role</h2>

      <h3>Your reference number - HDJ2123F</h3>

      <ul>
        <li>Main responsibilities: help run a walking group for people with memory problems or dementia, support service users to participate in social activities</li>
        <li>Three hours per week, Tuesday or Thursday</li>
        <li>CMHT Older People, Stockport SK2 5EQ</li>
      </ul>

      <hr>

      <h3>What happens next?</h3>

      <p>We've sent your application to Birch Hill Hospital. They will contact you to confirm their decision. This might take a few weeks.</p>

      <p>You can view your completed applications and any saved roles by signing in to your account at any time.</p>

      <p>For queries regarding this role, you can email the volunteering service department at <a href="mailto:emailaddress">emma.recruiter@hospital.nhs.uk</a></p>

       
  



    </div>
  </div>
{% endblock %}