{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/sprint-7/volunteer/empty-form-page-4">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div> 

      <!--NEW H1 (hint)-->
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            What is your availability?
          </h1>
        </legend>
      
        <div class="nhsuk-hint" id="contact-hint">
          Question 5 of 6
        </div>

        <p class="nhsuk-body-l">
          The volunteering service manager has specified that this volunteering opportunity requires your availability at specific dates and times. You can confirm your availability below. You can discuss with the manager which date and time, out of the ones required, you can make.
        </p>
      
        <div class="nhsuk-form-group">

          
          <!--Times-->
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Three hours, any day Monday to Friday<br>
              10am - 1pm (morning shift)<br>
              2pm - 5pm (afternoon shift)</p>
          </div>
      
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                I could be available at any of the indicated times and dates
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                I wish to discuss my availability with the volunteering service team
              </label>
            </div>
      

      
          </div>
        </div>
      
      </fieldset>
      
  
  </div>
  </div>

<!--buttons-->        

  
  <a href="/sprint-7/volunteer/empty-form-page-6"> <button class="nhsuk-button"> 
  Save and continue
  </button></a>

  &nbsp;
  
  <a href="/sprint-7/volunteer/saved-applications" <button class="nhsuk-button nhsuk-button--secondary">
    Save for later
  </button></a>   

  

  </div>

  </div>
{% endblock %}
