{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/vacancy/6625/task-list">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            

            
  <h1 class="nhsuk-heading-l" id="heading-container">
    <span class="nhsuk-caption-l nhsuk-caption--bottom" id="flow-heading">Reuse a role listing</span>
    <span class="nhsuk-heading-l" id="heading">Do you want to add a closing date to this role?</span>
  </h1> 

    
        <p class="nhsuk-heading-s">
            Walk and talk Volunteer
            <span class="status-box status-box-blue" aria-label="status for CVFlowOffline is DRAFT" id="status_DRAFT" role="status">
                DRAFT
            </span>
        </p>
    
            <p id="reference_number" role="note" aria-label="Reference number: T5555-22-9759">Reference no: T5555-22-9759</p>
        
            

            <form action="/sprint-5/recruiter/branching/answer" method="post">
                <input type="hidden" name="_csrf" value="ZG9nbL1G-n6ukci4klWv79snOMHJxWHyDHiU">
                    
        <div class="nhsuk-form-group">
    
        <fieldset class="nhsuk-fieldset app-fieldset--custom-modifier ">
            <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden" id="">
                Do you want to add a closing date to this role?
            </legend>
            
            
              <span class="nhsuk-hint" id="closing_hint">
                  Role listings without a closing date will stay open for rolling expressions of interest
              </span>
            
            <div class="nhsuk-radios nhsuk-radios--inline" id="closingDate">
                            
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="know-nhs-number-1" name="know-nhs-number" type="radio" value="Yes">
                                <label id="true_label" class="nhsuk-radios__label" for="closingDate_option_1">
                                    Yes
                                </label>
                                
                            </div>
                        
    
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="know-nhs-number-2" name="know-nhs-number" type="radio" value="No">
                                <label id="false_label" class="nhsuk-radios__label" for="closingDate_option_2">
                                    No
                                </label>
                                
                            </div>
                        
                    
                
            </div>
        </fieldset>
    
        </div>
    

                <br>
                
                    <input class="nhsuk-button" type="submit" id="save_continue" value="Save and continue">
                    <input class="button-link" type="submit" id="save_come_back" name="comeBackLater" value="Save and come back later">
                
            </form>
        </div>
    </div>
      
                </main>
{% endblock %}
