{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/vacancy/6625/task-review/job_and_pay/">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            

            
  <h1 class="nhsuk-heading-l" id="heading-container">
    <span class="nhsuk-caption-l nhsuk-caption--bottom" id="flow-heading">Reuse a role listing</span>
    <span class="nhsuk-heading-l" id="heading">What is the working pattern?</span>
  </h1> 


            
                
    
        <p class="nhsuk-heading-s">
            CVFlowOffline
            <span class="status-box status-box-blue" aria-label="status for CVFlowOffline is DRAFT" id="status_DRAFT" role="status">
                DRAFT
            </span>
        </p>
    
    
        
            <p id="reference_number" role="note" aria-label="Reference number: T5555-22-9759">Reference no: T5555-22-9759</p>
        
    

            
        
            <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
                <summary class="nhsuk-details__summary" role="button" aria-controls="working-pattern-details-content-0" aria-expanded="false" tabindex="0">
                    <span class="nhsuk-details__summary-text">
                        Update to the flexible working rules
                    </span>
                </summary>
                <div class="nhsuk-details__text" id="working-pattern-details-content-0" aria-hidden="true">
                    <p>Flexible working rules changed on 13 September 2021 for the NHS. Employers should allow candidates to request flexible working arrangements from their first day. You can add information about working patterns when you create the role overview.</p>
                    <p>You can find more information in the <a target="_blank" href="https://www.nhsemployers.org/publications/tchandbook" id="working-pattern-details-link">NHS Terms and Conditions of Service Handbook</a> (opens in a new tab).</p>
                </div>
            </details>

            <form class="form" action="/sprint-5/recruiter/reuse-listing-2-tasklist" method="post">
                <input type="hidden" name="_csrf" value="A78ARcyJ-1PJcEeuSSzeU4OTryycLjOzFwjs">
                <div class="nhsuk-form-group ">
                    <fieldset class="nhsuk-fieldset app-fieldset--custom-modifier" id="">
                        
                        <legend class="nhsuk-fieldset__legend" id="workingPattern_label">
                            Working pattern
                        </legend>
                        <div class="nhsuk-checkboxes">
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="workingPattern_type_fullTime" name="contract[workingPattern][fullTime]" type="checkbox" value="1" checked="">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="workingPattern_type_fullTime" id="label-workingPattern_type_fullTime">
                                    Full-time
                                </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="workingPattern_type_partTime" name="contract[workingPattern][partTime]" type="checkbox" value="1" checked="">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="workingPattern_type_partTime" id="label-workingPattern_type_partTime">
                                    Part-time
                                </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="workingPattern_type_jobShare" name="contract[workingPattern][jobShare]" type="checkbox" value="1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="workingPattern_type_jobShare" id="label-workingPattern_type_jobShare">
                                    Role share
                                </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="workingPattern_type_flexibleWorking" name="contract[workingPattern][flexibleWorking]" type="checkbox" value="1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="workingPattern_type_flexibleWorking" id="label-workingPattern_type_flexibleWorking">
                                    Flexible working
                                </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="workingPattern_type_remoteWorking" name="contract[workingPattern][remoteWorking]" type="checkbox" value="1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="workingPattern_type_remoteWorking" id="label-workingPattern_type_remoteWorking">
                                    Home or remote working
                                </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="workingPattern_type_compressedHours" name="contract[workingPattern][compressedHours]" type="checkbox" value="1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="workingPattern_type_compressedHours" id="label-workingPattern_type_compressedHours">
                                    Compressed hours
                                </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="workingPattern_type_termTimeHours" name="contract[workingPattern][termTimeHours]" type="checkbox" value="1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="workingPattern_type_termTimeHours" id="label-workingPattern_type_termTimeHours">
                                    Term time hours
                                </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="workingPattern_type_annualisedHours" name="contract[workingPattern][annualisedHours]" type="checkbox" value="1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="workingPattern_type_annualisedHours" id="label-workingPattern_type_annualisedHours">
                                    Annualised hours
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                    <input class="nhsuk-button" type="submit" id="save_continue" value="Save and continue">
                    <input class="button-link" type="submit" id="save_come_back" name="comeBackLater" value="Save and come back later">
                
            </form>
        </div>
    </div>
{% endblock %}
