{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="check-answers nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-l word-wrap" id="heading-container">
            <span class="nhsuk-caption-l">Reuse a role listing</span>
            <span id="heading">Check and save the contact details and closing date</span>
          </h1>
    
          <form class="form" action="/sprint-5/recruiter/reuse-listing-2-tasklist" method="post">
            <input type="hidden" name="_csrf" value="c3uDISCH-vaPDno4xChWuxChqzIRnb6oKsM4">
    
            
      
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contact details
            </dt>
            <dd class="nhsuk-summary-list__value" id="contact_details">
              admin<br>
              
                admin@admin.com<br>
              
              
                0712121212
              
            </dd>
            
              <dd class="nhsuk-summary-list__actions">
                <a data-test="change-link" aria-label="Change link for contact details" href="/vacancy/6625/contact-details/edit?from=eyJpdiI6IjNmODkzY2MzNzRjZTlhYzMwZWU3OGM3YWEwMTkyZTNjIiwiY29udGVudCI6ImU5NGVhZDk0MDg5NDdkYTkxMzVkMjM0MmNlYzUzODI4NjVkNjBkZjcyNTE5NTIxNTU3YTM5NmE3ZGI2N2ZmZTAzN2YyODEwYzRlZTMwYTRjOTEwZCJ9" id="change_contact_details">Change</a>
              </dd>
            
          </div>
    
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Closing date
            </dt>
            <dd class="nhsuk-summary-list__value" id="closing_date">
              
                12/12/2022
              
            </dd>
            
              <dd class="nhsuk-summary-list__actions">
                <a data-test="change-link" aria-label="Change link for closing date" href="/vacancy/6625/closing-date/edit?from=eyJpdiI6IjNmODkzY2MzNzRjZTlhYzMwZWU3OGM3YWEwMTkyZTNjIiwiY29udGVudCI6ImU5NGVhZDk0MDg5NDdkYTkxMzVkMjM0MmNlYzUzODI4NjVkNjBkZjcyNTE5NTIxNTU3YTM5NmE3ZGI2N2ZmZTAzN2YyODEwYzRlZTMwYTRjOTEwZCJ9" id="change_link_closing_date">Change</a>
              </dd>
            
          </div>
        </dl>
      
    
    
            
              <div class="nhsuk-form-group">
                <input class="nhsuk-button" name="save_continue" type="submit" id="save_continue" value="Save and continue">
              </div>
            
          </form>
        </div>
      </div>
{% endblock %}
