{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/vacancy/6625/task-review/job_advert/">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Go back</a>
</div>


            

            
  <h1 class="nhsuk-heading-l" id="heading-container">
    <span class="nhsuk-caption-l nhsuk-caption--bottom" id="flow-heading">Reuse a role listing</span>
    <span class="nhsuk-heading-l" id="heading">Provide a role overview to create your listing</span>
  </h1> 


            
                
    
        <p class="nhsuk-heading-s">
            CVFlowOffline
            <span class="status-box status-box-blue" aria-label="status for CVFlowOffline is DRAFT" id="status_DRAFT" role="status">
                DRAFT
            </span>
        </p>
    
    
        
            <p id="reference_number" role="note" aria-label="Reference number: T5555-22-9759">Reference no: T5555-22-9759</p>
        
    
            
            

            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>You'll add your full role description, person specification and any supporting documents later.</p>
            </div>

            <!--Introduce the role-->

            <form class="form" action="/sprint-5/recruiter/reuse-listing-9a" method="post">
                <input type="hidden" name="_csrf" value="Ght2mB1x-EWmh83QMheZ8fsHCDfSh0HLA8ak">
                <fieldset class="nhsuk-fieldset" id="">
                    <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">
                        Introduce the role
                    </legend>
                    <div tabindex="0" class="nhsuk-form-group ">
                        <h2 class="nhsuk-heading-m">Introduce the role</h2>

    
        <div class="nhsuk-form-group ">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example">
                  Role overview
                </label>
                <div class="nhsuk-hint" id="example-hint">
                    Give a short summary of the role and why this person should work for you. Potential applicants will read this first so inform, engage and excite.
                </div>
                <textarea class="nhsuk-textarea" id="example" name="example" rows="6" aria-describedby="example-hint"></textarea>
              </div>
              <input type="hidden" id="jobOverview-character-count" name="jobOverview-character-count" value="219">
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-remaining">
                You have <span class="nhsuk-character-count-remaining">1281</span> characters remaining
            </p>
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-toomany nhsuk-error-message" style="display: none;">
                You have <span class="nhsuk-character-count-toomany"></span> characters too many
            </p>
            <noscript>
                <span class="nhsuk-hint" aria-live="polite">
                    You can enter up to 1500 characters
                </span>
                <style type="text/css">
                    .nhsuk-hint-character-count { display:none; }
                </style>
            </noscript>

            <hr>




            <!--Main responsibilities-->

            <form class="form" action="/sprint-5/recruiter/reuse-listing-9a" method="post">
                <input type="hidden" name="_csrf" value="Ght2mB1x-EWmh83QMheZ8fsHCDfSh0HLA8ak">
                <fieldset class="nhsuk-fieldset" id="">
                    <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">
                        Briefly describe the main duties of the role
                    </legend>
                    <div tabindex="0" class="nhsuk-form-group ">
                        <h2 class="nhsuk-heading-m">Briefly describe the main duties of the role</h2>

    
        <div class="nhsuk-form-group ">

            <div class="nhsuk-form-group">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Main duties
                    </label>
                
                <div class="nhsuk-hint" id="example-hint">
                    This will help someone decide if they want to apply. Do not repeat information from the role description here, as this will appear later in the advert.
                </div>
                <textarea class="nhsuk-textarea" id="example" name="example" rows="6" aria-describedby="example-hint"></textarea>
              </div>
              <input type="hidden" id="jobOverview-character-count" name="jobOverview-character-count" value="219">
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-remaining">
                You have <span class="nhsuk-character-count-remaining">1281</span> characters remaining
            </p>
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-toomany nhsuk-error-message" style="display: none;">
                You have <span class="nhsuk-character-count-toomany"></span> characters too many
            </p>
            <noscript>
                <span class="nhsuk-hint" aria-live="polite">
                    You can enter up to 1500 characters
                </span>
                <style type="text/css">
                    .nhsuk-hint-character-count { display:none; }
                </style>
            </noscript>
        </fieldset>

        <hr>


            <!--Give an overview of your organisation-->

            <form class="form" action="/sprint-5/recruiter/reuse-listing-9a" method="post">
                <input type="hidden" name="_csrf" value="Ght2mB1x-EWmh83QMheZ8fsHCDfSh0HLA8ak">
                <fieldset class="nhsuk-fieldset" id="">
                    <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">
                        Give an overview of your organisation
                    </legend>
                    <div tabindex="0" class="nhsuk-form-group ">
                        <h2 class="nhsuk-heading-m">Give an overview of your organisation</h2>

    
        <div class="nhsuk-form-group ">

            <div class="nhsuk-form-group">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Organisation overview
                    </label>
                
                <div class="nhsuk-hint" id="example-hint">
                    Introduce the team, the atmosphere, work ethic and benefits of working at your organisation.
                </div>
                <textarea class="nhsuk-textarea" id="example" name="example" rows="6" aria-describedby="example-hint">
                    <value="Give a brief description of the role, what it takes and why this person should work for you. Potential candidates will read this first so inform, engage and excite. You have a limit of 1000 characters, including spaces.">
                </textarea>
              </div>
              <input type="hidden" id="jobOverview-character-count" name="jobOverview-character-count" value="219">
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-remaining">
                You have <span class="nhsuk-character-count-remaining">1281</span> characters remaining
            </p>
            <p class="nhsuk-hint nhsuk-hint-character-count nhsuk-hint-character-count-toomany nhsuk-error-message" style="display: none;">
                You have <span class="nhsuk-character-count-toomany"></span> characters too many
            </p>
            <noscript>
                <span class="nhsuk-hint" aria-live="polite">
                    You can enter up to 1500 characters
                </span>
                <style type="text/css">
                    .nhsuk-hint-character-count { display:none; }
                </style>
            </noscript>
            </fieldset>








        
                
                    </div>
                </fieldset>
                <br>
                
                    <input class="nhsuk-button" type="submit" id="save_continue" value="Save and continue">
                    <input class="button-link" type="submit" id="save_come_back" name="comeBackLater" value="Save and come back later">
                
            </form>
        </div>
    </div>
{% endblock %}
