<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS Volunteering Alpha prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        NHSBSA's NHS Volunteering Alpha prototype</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


        <p>For further information, please contact: <a href="mailto:naomi.grant@tpximpact.com">naomi.grant@tpximpact.com</a></p>
        
        <p>For archived pages <a href="/archived-pages">click here ></a></p>


      <hr>

      <!---UR start here-->
      <form class="form" action="/sprint-7/participant-start-page" method="post">
          
        <button class="nhsuk-button" type="submit">
          Start DEMO here
        </button>
        </form>


      <br>

      
      <!--TABS-->
      <div class="tabs" data-js="tabs">
        <div class="tabs-nav">
  
    <ul class="tabs-list" role="tablist" style="display: block;">
      <li role="presentation">
        <a class="tabs-toggle" href="/index" role="tab" aria-controls="tab-1" aria-selected="true" tabindex="0">
          Volunteer journey
        </a>
      </li>
      <li role="presentation">
        <a class="tabs-toggle" href="/index-2" role="tab" aria-controls="tab-2" tabindex="-1" aria-selected="false">
          Recruiter journey
        </a>
      </li>
    </ul>

  </div>
    
  <div class="tabs-content">
    <div class="tabs-panel" id="tab-1" role="tabpanel" aria-hidden="false" data-id="tab-1">
      <div class="tabs-panel-inner" tabindex="0">

  
    <!--End-->

     
        <h2>Volunteering journey</h2>

        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/landing-page">Landing page</a>
                </h2>
                <p class="nhsuk-card__description">NHSV landing page.</p>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/results-page-postcode">Postcode results</a>
                </h2>
                <p class="nhsuk-card__description">Search results for postcode lookup.</p>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/Remote-roles-browse-2">Remote Browse and Results</a>
                </h2>
                <p class="nhsuk-card__description">Browse information for role type and preview opportunities.</p>
              </div>
            </div>
        
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/patient-facing-support-browse-2">Patient-facing Browse and Results</a>
                </h2>
                <p class="nhsuk-card__description">Browse information for role type and preview opportunities.</p>
              </div>
            </div>
        
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/role-listing">Role listing Open</a>
                </h2>
                <p class="nhsuk-card__description">A role listing that <strong>is</strong> accepting applications</p>
              </div>
            </div>
        
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/role-listing-closed">Role listing Closed</a>
                </h2>
                <p class="nhsuk-card__description">A role listing that <strong>is not longer</strong> accepting applications</p>
              </div>
            </div>
        
          </li>
          
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/account-or-guest">Account page</a>
                </h2>
                <p class="nhsuk-card__description">Account shutter page - Sign in or continue as a guest</p>
              </div>
            </div>
        
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/???">Create an account</a>
                </h2>
                <p class="nhsuk-card__description">Create an account form page.</p>
              </div>
            </div>
        
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/empty-form-page-1">Empty form pages</a>
                </h2>
                <p class="nhsuk-card__description">Application form pages 1-6</p>
              </div>
            </div>
        
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/saved-applications">Saved Applications page</a>
                </h2>
                <p class="nhsuk-card__description">Applications that have been started, but exited from via 'Save for later' button.</p>
              </div>
            </div>
        
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/check-your-answers">Check your answers</a>
                </h2>
                <p class="nhsuk-card__description">Last opportunity to check and change answers before submitting </p>
              </div>
            </div>
        
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/confirmation-page">Confirmation page</a>
                </h2>
                <p class="nhsuk-card__description">The page confirming that the application has been submitted and recieved. <br> Useful information regarding what happens next.</p>
              </div>
            </div>
        
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="/sprint-7/volunteer/confirmation-email">Confirmation Email</a>
                </h2>
                <p class="nhsuk-card__description">An automted follow up email. Useful information regarding what happens next.</p>
              </div>
            </div>
        
          </li>
        </ul>


       
      


{% endblock %}
