<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS Volunteering Alpha prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHSBSA NHS Volunteering Alpha prototypes
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">We are currently in sprint 2</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        You will find all prototype iterations from this page.</p>

        <p>For further information, please contact: <a href="mailto:naomi.grant@tpximpact.com">naomi.grant@tpximpact.com</a></p>


      <hr>
<!--SPRINT 2-->
<h2>
  Sprint 2 - We are here!
   </h2>
   <h4>
     (7th Sept - 20th Sept)
     </h4>

 <p>Sprint 2 concept testing was paused because of the national mourning period. </p>
 <p> Instead the UCD focused on:
   <ul>
     <li>Desk research</li>
     <li>Concept creation for 'A day in the life' (Discovery case studies)</li>
     <li>Legislation requirements for recruiters and NHS England</li>
   </ul>
 </p>

<h4>
User journey development
</h4> 
       <ul>
         <li>
           <a href="/sprint-2/Category-based-browse">Role/cateogroy based browsing (/Category-based-browse)</a>
         </li>
         <li>
          <a href="/sprint-2/front-of-house-roles-b">Front of house roles (sprint-2/front-of-house-roles-b)</a>
         </li>
         <li> <a href="/sprint-2/front-of-house-results-1"> Front of house results (sprint-2/front-of-house-results-1)</a>
        </li>
        <li>
          <a href="/sprint-2/job-spec-1"> Job specification page (/sprint-2/job-spec-1)</a>
        </li>
        <li>
          <a href="/sprint-2/saved-roles"> Saved roles (/sprint-2/saved-roles)</a>
        </li>
        <li>
          <a href="sprint-2/application-start"> Application form (/application-start)</a>
        </li>
         </ul>

       <hr>

<!--SPRINT 1-->
             <h2>
               Sprint 1 - 
             </h2>
             <h4>
               (24th Aug - 6th Sept)
               </h4>

             <p>During this sprint the UCD worked on concept development based on a) internal co-design sessions and b) external user research session with both volunteers and recruiters. </p>

             <ul>
               <li>
                 <a href="https://miro.com/app/board/uXjVOgIPRS0=/?moveToWidget=3458764533163473067&cot=14" target=”_blank”> Concepts developed during sprint 1 (Miro)</a>
               </li>
               </ul>
               <hr>


<!--SPRINT 0-->
      <h2>
        Sprint 0
      </h2>
      <h4>
        (8th Aug - 23rd Aug)
        </h4>

      <p>Awareness, defining and searching</p>

      <ul class="one">
        <li>
          <a href="/sprint-0/nhsuk-homepage-1">Landing page (/sprint-0/nhsuk-homepage-1)</a>
        </li>
        <li>
          <a href="/sprint-0/guidance-home-1">Guidance pages (/sprint-0/guidance-home-1)</a>
        </li>
        <li>
          <a href="/sprint-0/directory-1">Directory page (/sprint-0/directory-1)</a>
        </li>
        <li>
          <a href="/sprint-0/role-page-1">Role types pages (/sprint-0/role-page-1 + -2)</a>
        </li>
        <li>
          <a href="/sprint-0/m-start-page-1">Skills match (postcode look up) (/m-start-page-1)</a>
        </li>
        <li>
          <a href="/sprint-0/q-start-page-1">Questionnaire journey (/q-start-page-1) </a>
        </li>
        <li>
          <a href="/?">Application form (/?) </a>
        </li>
      </ul>

      <h6>
        Unhappy path screens
      </h6>
      <ul>
        <li>
          <a href="/sprint-0/unhappy-path/results-list-none"> 0 suitable results (/results-list-none)</a>
        </li>
      </ul>
      
      <h6>
        Initial Alpha sketches based on learnings from MVP
      </h6>
      <ul>
        <li>
          <a href="https://miro.com/app/board/uXjVOg9iYLw=/?moveToWidget=3458764530946884375&cot=14" target=”_blank”>Initial sketches (Miro)</a></li>
        </li>
      </ul>


      <hr> <hr>

<!--SPRINT 7-->
        <h2>
      Sprint 7 -
        </h2>
      <h4>
      (16th Nov - 29th Nov)
        </h4>

      <p>Awareness, defining and searching</p>

      <ul>
      <li>
        <a href="/?">Link name (/page-url)</a>
        </li>
      </ul>

      <hr>

<!--SPRINT 6-->
        <h2>
      Sprint 6 -
        </h2>
      <h4>
      (2nd Nov - 15th Nov)
        </h4>

      <p>Awareness, defining and searching</p>

      <ul>
      <li>
        <a href="/?">Link name (/page-url)</a>
        </li>
      </ul>

      <hr>

<!--SPRINT 5-->
            <h2>
            Sprint 5 -
            </h2>
            <h4>
            (19th Oct - 1st Nov)
              </h4>

              <p>Awareness, defining and searching</p>

                  <ul>
                <li>
                <a href="/?">Link name (/page-url)</a>
              </li>
              </ul>

              <hr>

<!--SPRINT 4-->
                <h2>
                Sprint 4 -
                </h2>
                <h4>
                (5th Oct – 18th Oct)
                  </h4>

                  <p>Awareness, defining and searching</p>

                      <ul>
                    <li>
                    <a href="/?">Link name (/page-url)</a>
                  </li>
                  </ul>

                  <hr>


<!--SPRINT 3-->
                  <h2>
                  Sprint 3 -
                  </h2>
                  <h4>
                  (21st Sept - 4th Oct)
                    </h4>

                    <p>Awareness, defining and searching</p>

                        <ul>
                      <li>
                      <a href="/?">Link name (/page-url)</a>
                    </li>
                    </ul>

                    <hr>


                  <hr>












      <h3>
        Pattern references
      </h3>

      <ul>
      <li>
        <a href="/docs/page-templates">Page templates</a>
      </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>


{% endblock %}
