<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS Volunteering Alpha prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        NHSBSA NHS Volunteering Alpha prototypes
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">We are currently in sprint 4</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        You will find all prototype iterations from this page.</p>

        <p>For further information, please contact: <a href="mailto:naomi.grant@tpximpact.com">naomi.grant@tpximpact.com</a></p>


      <hr>

      <!--SPRINT 5-->
      <h2>
        Sprint 5 -
        </h2>
        <h4>
        (19th Oct - 1st Nov)
          </h4>

          <p><strong> 1. Landing page</strong></p>

          <p><strong> 2. Search results</strong></p>

              <ul>
            <li><a href="/sprint-5/results-page-postcode">Results page postcode (/results-page-postcode)</a></li>
              </ul>

          <p><strong> 3. Browse role types</strong></p>    

          <p><strong> 4. Browse NHS services</strong></p> 

          <p><strong> 5. Browse volunteer stories</strong></p> 

          <hr>

<!--SPRINT 4-->
<h2>
  Sprint 4 -
  </h2>
  <h4>
  (5th Oct – 18th Oct)
    </h4>

    <p>Prototyping the volunteer's journey through <strong>discover</strong>, <strong>find</strong> and <strong>apply</strong> phases</p>

        <ul>
      <li><a href="/sprint-4/nhsuk-homepage-2">Landing page (/nhsuk-homepage-2)</a></li>
      <li><a href="/sprint-4/front-of-house-browse">Front of house roles (/front-of-house-browse)</a></li>
      <li><a href="/sprint-4/patient-therapy-support-browse">Patient and therapy support roles (/patient-therapy-support-browse)</a></li>
      <li><a href="/sprint-4/recreational-activities-browse">Recreational Activities roles (/recreational-activities-browse)</a></li>
      <li><a href="/sprint-4/admin-volunteering-support-browse">Admin and volunteering support roles (/admin-volunteering-support-browse)</a></li>
      <li><a href="/sprint-4/results-page-role-type">Results page role type (/results-page-role-type)</a></li>
      <li><a href="/sprint-4/results-page-postcode">Results page postcode (/results-page-postcode)</a></li>
      <li><a href="/sprint-4/results-page-keywords">Results page keywords (/results-page-keywords)</a></li>
      <li><a href="/sprint-4/mental-health-care-browse">Mental health care browse (//mental-health-care-browse)</a></li>
      <li><a href="/sprint-4/results-nhs-services"> Results page NHS services (/results-nhs-services)</a></li>
      <li><a href="/sprint-4/unhappy-role-type">Unhappy results page role type (/unhappy-role-type)</a></li>
      <li><a href="/sprint-4/unhappy-keywords">Unhappy results page keywords (/unhappy-keywords)</a></li>
      <li><a href="/sprint-4/sad-role-types">Sad results page role type (/sad-role-types)</a></li>
      <li><a href="/sprint-4/sad-keywords">Sad results page keywords (/sad-keywords)</a></li>
      <li><a href="/sprint-4/saved-roles">Saved roles page (/saved-roles)</a></li>
      <li><a href="/sprint-4/job-spec-2">Job specification page (/job-spec-2)</a></li>
      <li><a href="/sprint-4/account-page">Account page, sign in, continue as guest (/account-page)</a></li>
      <li><a href="/sprint-4/application-start-2">Application form start page (/application-start-2)</a></li>
      <li><a href="/sprint-4/application-start-3">Blank application form start page (/application-start-3)</a></li>
      <li><a href="/sprint-4/form-page-1">Application first page! (/form-page-1)</a></li>
      <li><a href="/sprint-4/application-tasklist-1">Application form Tasklist page (/application-tasklist-1)</a></li>
      <li><a href="/sprint-4/application-confirmation">Application Confirmation page (/application-confirmation)</a></li>
    </ul>

    <p>Prototyping the recruiter's journey through <strong>discover</strong>, <strong>create</strong> and <strong>publish</strong> phases</p>

        <ul>
      <li><a href="/sprint-4/">? (/?)</a></li>
      <li><a href="/sprint-4/">? (/?)</a></li>
      <li><a href="/sprint-4/">? (/?)</a></li>
      <li><a href="/sprint-4/">? (/?)</a></li>
      <li><a href="/sprint-4/">? (/?)</a></li>

    <hr>

<!--SPRINT 3-->
<h2>
  Sprint 3 - WE ARE HERE!!
  </h2>
  <h4>
  (21st Sept - 4th Oct)
  </h4>
    
  <ul>
    <li>
      <a href="/sprint-3/Find-roles-filters"> Advanced filtering (/Find-roles-filter)</li><a>
      <li>
      <a href="/?">Legislation requirements for recruiters and NHS England (/page-url)</a>
    </li>
    </ul>

  


  <hr>      

<!--SPRINT 2-->
<h2>
  Sprint 2 
   </h2>
   <h4>
     (7th Sept - 20th Sept)
     </h4>

 <p>Sprint 2 concept testing was paused because of the national mourning period. </p>
 <p> Instead the UCD focused on:
   <ul>
     <li>Desk research</li>
     <li>Concept creation for 'A day in the life' (Discovery case studies)</li>
   </ul>
 </p>

<h4>
User journey development
</h4> 
       <ul>
         <li>
           <a href="/sprint-2/Category-based-browse">Role/cateogroy based browsing (/Category-based-browse)</a>
         </li>
         <li>
          <a href="/sprint-2/front-of-house-roles-b">Front of house roles (sprint-2/front-of-house-roles-b)</a>
         </li>
         <li> <a href="/sprint-2/front-of-house-results-1"> Front of house results (sprint-2/front-of-house-results-1)</a>
        </li>
        <li>
          <a href="/sprint-2/job-spec-1"> Job specification page (/sprint-2/job-spec-1)</a>
        </li>
        <li>
          <a href="/sprint-2/saved-roles"> Saved roles (/sprint-2/saved-roles)</a>
        </li>
        <li>
          <a href="sprint-2/application-start"> Application form (/application-start)</a>
        </li>
        <li>
          <a href="sprint2/"> Confirmation page (/confirmation-page)</a>
        </li>
         </ul>

         
       <hr>

<!--SPRINT 1-->
             <h2>
               Sprint 1 - 
             </h2>
             <h4>
               (24th Aug - 6th Sept)
               </h4>

             <p>During this sprint the UCD worked on concept development based on a) internal co-design sessions and b) external user research session with both volunteers and recruiters. </p>

             <ul>
               <li>
                 <a href="https://miro.com/app/board/uXjVOgIPRS0=/?moveToWidget=3458764533163473067&cot=14" target=”_blank”> Concepts developed during sprint 1 (Miro)</a>
               </li>
               </ul>
               <hr>


<!--SPRINT 0-->
      <h2>
        Sprint 0
      </h2>
      <h4>
        (8th Aug - 23rd Aug)
        </h4>

      <p>Awareness, defining and searching</p>

      <ul class="one">
        <li>
          <a href="/sprint-0/nhsuk-homepage-1">Landing page (/sprint-0/nhsuk-homepage-1)</a>
        </li>
        <li>
          <a href="/sprint-0/guidance-home-1">Guidance pages (/sprint-0/guidance-home-1)</a>
        </li>
        <li>
          <a href="/sprint-0/directory-1">Directory page (/sprint-0/directory-1)</a>
        </li>
        <li>
          <a href="/sprint-0/role-page-1">Role types pages (/sprint-0/role-page-1 + -2)</a>
        </li>
        <li>
          <a href="/sprint-0/m-start-page-1">Skills match (postcode look up) (/m-start-page-1)</a>
        </li>
        <li>
          <a href="/sprint-0/q-start-page-1">Questionnaire journey (/q-start-page-1) </a>
        </li>
        <li>
          <a href="/?">Application form (/?) </a>
        </li>
      </ul>

      <h6>
        Unhappy path screens
      </h6>
      <ul>
        <li>
          <a href="/sprint-0/unhappy-path/results-list-none"> 0 suitable results (/results-list-none)</a>
        </li>
      </ul>
      
      <h6>
        Initial Alpha sketches based on learnings from MVP
      </h6>
      <ul>
        <li>
          <a href="https://miro.com/app/board/uXjVOg9iYLw=/?moveToWidget=3458764530946884375&cot=14" target=”_blank”>Initial sketches (Miro)</a></li>
        </li>
      </ul>


      <hr> <hr>

<!--SPRINT 7-->
        <h2>
      Sprint 7 -
        </h2>
      <h4>
      (16th Nov - 29th Nov)
        </h4>

      <p>Awareness, defining and searching</p>

      <ul>
      <li>
        <a href="/?">Link name (/page-url)</a>
        </li>
      </ul>

      <hr>

<!--SPRINT 6-->
        <h2>
      Sprint 6 -
        </h2>
      <h4>
      (2nd Nov - 15th Nov)
        </h4>

      <p>Awareness, defining and searching</p>

      <ul>
      <li>
        <a href="/?">Link name (/page-url)</a>
        </li>
      </ul>

      <hr>


                  <hr>

      <h3>
        Pattern references
      </h3>

      <ul>
      <li>
        <a href="/docs/page-templates">Page templates</a>
      </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>


{% endblock %}
