{% extends 'layout.html' %}

{% block pageTitle %}
  Recruiter dashboard prototype
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <!-- Add your content here -->

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
    
          <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/sprint-5/recruiter/dashboard">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Go back</a>
          </div>   
    
          <h2>
            Recent roles
          </h2>

          <!--IDEA 2-->
          <form>
            <div class="nhsuk-table-responsive-v2">
              <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Published</caption>
                <thead class="nhsuk-table__head" role="rowgroup">
                  <tr class="nhsuk-table__row" role="row">
                    <th class="nhsuk-table__header" scope="col">Job title, document and reference</th>
                    <th class="nhsuk-table__header" scope="col">Closing date</th>
                    <th class="nhsuk-table__header" scope="col">Applications in progress</th>
                    <th class="nhsuk-table__header" scope="col">Applications submitted</th>
                    <th class="nhsuk-table__header" scope="col">Actions</th>
                  </tr>
                </thead>

                <!--Row1-->
                <tbody class="nhsuk-table__body" role="rowgroup">
                  
                    <tr class="nhsuk-table__row" role="row">
                      <td class="nhsuk-table__cell" role="cell">
                        <span class="nhsuk-table-responsive__heading">Walking</span>
                        <div>
                          <div>
                            
                            
                              <a href="/">Walking-role.pdf</a>
                            
                          </div>
                          <div id="role_reference_1">T5555-22-9358</div>
                        </div>
                      </td>
                      
                      <td class="nhsuk-table__cell" id="closing_date_1" role="cell">
                        <span class="nhsuk-table-responsive__heading">30 Dec 2022</span>
                      </td>
                      <td class="nhsuk-table__cell" id="applications_in_progress_1" role="cell">
                        <span class="nhsuk-table-responsive__heading">1</span>
                      </td>
                      <td class="nhsuk-table__cell" id="num_of_applicants_1" role="cell">
                        <span class="nhsuk-table-responsive__heading">83</span>
                      </td>
                      <td class="nhsuk-table__cell" id="view_link" role="link">
                        <a href="/" id="6253_url" aria-label="View CVFlowOffline">View role online</a>
                      </td>
                      <br>
                      <td class="nhsuk-table__cell" id="view_link" role="link">
                        <a href="/sprint-5/recruiter/reuse-listing-1" id="6253_url" aria-label="reuse-listing">Reuse this listing</a>
                      </td>
                    </tr>


                  <!--Row2-->
                <tbody class="nhsuk-table__body" role="rowgroup">
                  
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell">
                      <span class="nhsuk-table-responsive__heading">Walking</span>
                      <div>
                        <div>
                          
                          
                            <a href="/">Walking-role.pdf</a>
                          
                        </div>
                        <div id="role_reference_1">T5555-22-9358</div>
                      </div>
                    </td>
                    
                    <td class="nhsuk-table__cell" id="closing_date_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">30 Dec 2022</span>
                    </td>
                    <td class="nhsuk-table__cell" id="applications_in_progress_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">1</span>
                    </td>
                    <td class="nhsuk-table__cell" id="num_of_applicants_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">83</span>
                    </td>
                    <td class="nhsuk-table__cell" id="view_link" role="link">
                      <a href="/" id="6253_url" aria-label="View CVFlowOffline">View role online</a>
                    </td>
                    <br>
                    <td class="nhsuk-table__cell" id="view_link" role="link">
                      <a href="/" id="6253_url" aria-label="View CVFlowOffline">Reuse this listing</a>
                    </td>
                  </tr>

                  <!--Row3-->
                <tbody class="nhsuk-table__body" role="rowgroup">
                  
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell">
                      <span class="nhsuk-table-responsive__heading">Walking</span>
                      <div>
                        <div>
                          
                          
                            <a href="/">Walking-role.pdf</a>
                          
                        </div>
                        <div id="role_reference_1">T5555-22-9358</div>
                      </div>
                    </td>
                    
                    <td class="nhsuk-table__cell" id="closing_date_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">30 Dec 2022</span>
                    </td>
                    <td class="nhsuk-table__cell" id="applications_in_progress_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">1</span>
                    </td>
                    <td class="nhsuk-table__cell" id="num_of_applicants_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">83</span>
                    </td>
                    <td class="nhsuk-table__cell" id="view_link" role="link">
                      <a href="/" id="6253_url" aria-label="View CVFlowOffline">View role online</a>
                    </td>
                    <br>
                    <td class="nhsuk-table__cell" id="view_link" role="link">
                      <a href="/" id="6253_url" aria-label="View CVFlowOffline">Reuse this listing</a>
                    </td>
                  </tr>

                  <!--Row4-->
                <tbody class="nhsuk-table__body" role="rowgroup">
                  
                  <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell">
                      <span class="nhsuk-table-responsive__heading">Walking</span>
                      <div>
                        <div>
                          
                          
                            <a href="/">Walking-role.pdf</a>
                          
                        </div>
                        <div id="role_reference_1">T5555-22-9358</div>
                      </div>
                    </td>
                    
                    <td class="nhsuk-table__cell" id="closing_date_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">30 Dec 2022</span>
                    </td>
                    <td class="nhsuk-table__cell" id="applications_in_progress_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">1</span>
                    </td>
                    <td class="nhsuk-table__cell" id="num_of_applicants_1" role="cell">
                      <span class="nhsuk-table-responsive__heading">83</span>
                    </td>
                    <td class="nhsuk-table__cell" id="view_link" role="link">
                      <a href="/" id="6253_url" aria-label="View CVFlowOffline">View role online</a>
                    </td>
                    <br>
                    <td class="nhsuk-table__cell" id="view_link" role="link">
                      <a href="/" id="6253_url" aria-label="View CVFlowOffline">Reuse this listing</a>
                    </td>
                  </tr>
                  
                    
                </tbody>
              </table>
            </div>

          </form>
          

  </div>
{% endblock %}
